.box_icon{
    margin-top: 65px;
    margin-bottom: 75px;
    .box_icon-list{
        .box_icon-item{
            text-align: center;
            padding-bottom: 25px;
            &:hover{
                background: #FFE8EA;
            }
            @media (min-width: 992px) {
                &:nth-child(2n){
                    background: #FFE8EA;
                }
            }
            figure{
                margin: 0;
                padding-top: 70px;
            }
            h4{
                font-size: 20px;
                font-weight: 600;
                padding: 20px 30px 0px;
                margin-bottom: 25px;
                height: 65px;
                overflow: hidden;
            }
            p{
                margin-bottom: 0;
            }
        }
    }
}

@media(max-width: 991px){
    
    .box_icon .box_icon-list .box_icon-item{
        padding: 7px;
        &:nth-child(4n + 0), &:nth-child(4n + 1){
            background-color: #FFE8EA;
        }
    }
    .box_icon .box_icon-list .box_icon-item figure{
        padding-top: 30px;
    }
    .box_icon .box_icon-list .box_icon-item h4{
        padding: 10px;
        height: 57px;
        margin-bottom: 15px;
    }
}