.page-footer {
    background-color: #036;
    padding: 32px 0 24px 0;
    margin-top: 20px;
    @media screen and (min-width: 1024px) {
        margin-top: 36px;
    }
    .branding {
        margin-right: 20px;
    }
    .legal {
        @media screen and (max-width: 480px) {
            flex: 0 0 66.6666666667%;
            max-width: 66.6666666667%;
            width: 100%;
            ul {
                display: block!important;
            }
        }
        ul {
            display: flex;
        }
        li {
            display: inline-block;
            font-size: 12px;
            line-height: 18px;
            margin-right: 5px;
            padding-right: 6px;
            position: relative;
            &:last-child {
                &:after {
                    background-color: unset!important;
                }
            }
            &:after {
                content: "";
                background-color: #5787b8;
                position: absolute;
                top: 3px;
                right: -1px;
                height: 12px;
                width: 1px;
            }
        }
    }
    .copyright {
        font-size: 12px;
        margin-bottom: 10px;
        @media screen and (max-width: 480px) {
           .ne {
               margin-left: 0;
               margin-right: 0;
               justify-content: center;
           }
        }
        span {
            color: #edf6ff;
        }
    }
    ul {
        padding-left: 0;
    }
    .section-nav {
        margin-bottom: 40px;
        padding: 0 0 0 24px;
        .nav-title {
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 8px;
        }

        .nav-item {
            margin-bottom: 6px;
            line-height: 18px;
            font-size: 14px;
        }
    }
    a {
        color: #edf6ff;
        -webkit-transition: color .25s ease-in-out;
        transition: color .25s ease-in-out;
    }

    .directional {
        border-top: 1px solid #174676;
        padding-top: 24px;
        overflow: hidden;
        .social-icons {
            margin-left: -15px;
            margin-right: -15px;
            ul {
                @media screen and (max-width: 480px) {
                    margin: 10px 0;
                    justify-content: center;
                }
                li {
                    margin-left: 8px;
                    @media screen and (min-width: 768px){
                        margin-left: 6px;
                    }
                }
            }
            
            .fb {
                a {
                    &:hover {
                        background-color: #3b5998;
                    }
                    &:after {
                        background-image: url('../images/facebook.svg');
                        background-position: 0 0;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        height: 16px;
                        width: 7px;
                        left: 11px;
                    }
                }
            }
            .tw {
                a {
                    &:hover {
                        background-color: #1da1f2;
                    }
                    &:after {
                        background-image: url('../images/twitter.svg');
                        background-position: 0 0;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        height: 13px;
                        width: 16px;
                        top: 9px;
                    }
                }
            }
            .email {
                a {
                    &:hover {
                        background-color: gray;
                    }
                    &:after {
                        background-image: url('../images/email.svg');
                        background-position: 0 0;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        height: 10px;
                        width: 15px;
                        top: 10px;
                    }
                }
            }
            .ig {
                a {
                    &:hover {
                        background: radial-gradient(circle farthest-corner at 35% 90%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 0 140%,#fec564,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),-webkit-gradient(linear,left top,left bottom,from(#6559ca),color-stop(30%,#bc318f),color-stop(50%,#e33f5f),color-stop(70%,#f77638),to(#fec66d));
                    }
                    &:after {
                        background-image: url('../images/instagram.svg');
                        background-position: 0 0;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
    }


}

.social-icons{
    a {
        &:after {
            content: "";
            position: absolute;
            top: 7px;
            left: 7px;
        }
        border-radius: 50%;
        -webkit-transition: background .2s ease-in-out;
        transition: background .2s ease-in-out;
        display: block;
        line-height: 30px;
        position: relative;
        height: 30px;
        width: 30px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background-color: #001d3a;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;
    }
} 