header {
    @media screen and (max-width: 480px) {
        z-index: 999;
    }
}
header {
    &.ruby-menu-demo-header {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        z-index: 999;
        background-color: #0F3644;
    }

    &.ruby-menu-demo-header-bg {
        background: url(../img/bg.jpg);

        div.ruby-menu-demo-download > span {
            color: #efefef;

            > span {
                color: #efefef;
            }
        }
    }

    &.ruby-menu-demo-description {
        position: relative;
        width: 980px;
        height: 160px;
        margin: 0 auto;
        padding: 0;

        img {
            max-width: 200px;
            float: left;
            margin: 50px 20px 0 0;
        }
    }
}

span.ruby-menu-demo-highlight {
    color: #333;
}

div {
    &.ruby-menu-demo-bg-light {
        width: 980px;
        height: auto;
        position: relative;
        background: #fff;
        margin: 0 auto;
        font-size: 16px;
    }

    &.ruby-menu-demo-bg-dark {
        width: 980px;
        height: auto;
        position: relative;
        background: #fff;
        margin: 0 auto;
        font-size: 16px;
        background: efefef;
    }

    &.ruby-menu-demo-bg-light-c:after, &.ruby-menu-demo-bg-dark-c:after {
        content: "";
        display: table;
        clear: both;
    }

    &.ruby-menu-demo-cv-1 {
        float: left;
        width: 33%;
    }

    &.ruby-menu-demo-cv-2 {
        float: left;
        width: 67%;
    }

    &.ruby-menu-demo-cv-3 {
        float: left;
        width: 48%;
    }

    &.ruby-menu-demo-cv-4 {
        float: left;
        width: 52%;
    }

    &.ruby-menu-demo-cr-1 {
        float: left;
        width: 33%;
    }

    &.ruby-menu-demo-cr-2 {
        float: left;
        width: 66%;
    }

    &.ruby-menu-demo-cs-1 {
        float: left;
        width: 33%;
    }

    &.ruby-menu-demo-cs-2 {
        float: left;
        width: 66%;
    }

    &.ruby-menu-demo-cf-1, &.ruby-menu-demo-cf-2, &.ruby-menu-demo-cf-3, &.ruby-menu-demo-cf-4 {
        float: left;
        width: 25%;
        text-align: center;
    }

    &.ruby-menu-demo-f-icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 0 auto;
        padding: 22px;
        font-size: 30px;
        background: #efefef;
        color: #aaa;
    }

    &.ruby-menu-demo-f-title {
        width: 100%;
        height: 30px;
        margin: 0 auto;
        margin-top: 20px;
        font-weight: 700;
        font-size: 18px;
    }

    &.ruby-menu-demo-f-desc {
        font-size: 14px;
        line-height: 24px;
        color: #555;
        padding: 15px;
    }

    &.ruby-menu-demo-cs-1 table {
        line-height: 20px;

        tr {
            padding: 0;
            font-weight: 700;
        }

        td {
            padding: 0;
            font-weight: 700;

            &:last-child {
                padding-top: 5px;
            }
        }
    }
}

h2.ruby-menu-demo-slogan-1, h3.ruby-menu-demo-slogan-1 {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #b1b1b1;
    margin: 0;
}

h1.ruby-menu-demo-slogan-2, h3.ruby-menu-demo-slogan-2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: none;
    color: #222;
    margin: 0;
}

p {
    &.ruby-menu-demo-slogan-description {
        font-size: 16px;
        line-height: 24px;
        color: #444;
        margin: 35px 0;
    }

    &.ruby-menu-demo-slogan-description-2 {
        font-size: 16px;
        line-height: 24px;
        color: #444;
        margin: 35px 0;
        color: #666;
        font-weight: 600;
        margin: -10px 0;
    }
}

span.ruby-menu-demo-code {
    color: #888;
    text-decoration: underline;
}

td {
    &.ruby-menu-demo-theme-td-1 {
        max-width: 30px;
        text-align: left;
        padding: 6px;
    }

    &.ruby-menu-demo-theme-td-2 {
        min-width: 120px;
        text-align: left;
        padding: 6px;
    }

    &.ruby-menu-demo-theme-td-1:hover {
        cursor: pointer;
    }
}

.ruby-menu-demo-circle {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 4px solid #222;
    display: inline-block;
    margin: 0;
}

.ruby-menu-demo-color-1 {
    background: #1aad86;
}

.ruby-menu-demo-color-2 {
    background: #0c67c2;
}

.ruby-menu-demo-color-3 {
    background: #ce0661;
}

.ruby-menu-demo-color-4 {
    background: #ea7500;
}

.ruby-menu-demo-color-5 {
    background: #74ba27;
}

.ruby-menu-demo-color-6 {
    background: #ff3264;
}

.ruby-menu-demo-color-7 {
    background: #fad814;
}

.ruby-menu-demo-color-8 {
    background: #ccc;
}

.ruby-menu-demo-color-9 {
    background: #111;
    border-color: #ccc;
}

.ruby-menu-demo-color-10 {
    background: #036de2;
    border-color: #489efd;
}

.ruby-menu-demo-color-11 {
    background: #f85252;
    border-color: #444;
}

.ruby-menu-demo-color-12 {
    background: #ca79d0;
    border-color: #f2def3;
}

.ruby-menu-demo-color-13 {
    background: #efefef;
    border-color: #222;
}

.ruby-menu-demo-color-14 {
    background: #ccc;
}

div.ruby-menu-demo-download {
    position: absolute;
    width: auto;
    top: 55px;
    right: 0;

    .fa {
        font-size: 20px;
        margin-right: 10px;
    }

    > span {
        font-size: 16px;
        display: block;
        margin: 10px 26px;

        > span {
            font-size: 20px;
            color: #555;
            font-weight: 700;
        }
    }
}

button.ruby-btn {
    background: #19ad86;
    border: 2px solid #19ad86;
    color: #fff;
    border-radius: 0;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background: #fff;
        color: #19ad86;
    }
}

.switch {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;

    + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

input {
    &.cmn-toggle-round {
        + label {
            padding: 2px;
            margin-top: -10px;
            width: 40px;
            height: 20px;
            background-color: #ddd;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            border-radius: 20px;

            &:before, &:after {
                display: block;
                position: absolute;
                top: 1px;
                left: 1px;
                bottom: 1px;
                content: "";
            }

            &:before {
                right: 1px;
                background-color: #f1f1f1;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                border-radius: 20px;
                -webkit-transition: background .4s;
                -moz-transition: background .4s;
                -o-transition: background .4s;
                transition: background 0.4s;
            }

            &:after {
                width: 18px;
                background-color: #fff;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                -ms-border-radius: 100%;
                -o-border-radius: 100%;
                border-radius: 100%;
                -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                -webkit-transition: margin .4s;
                -moz-transition: margin .4s;
                -o-transition: margin .4s;
                transition: margin 0.4s;
            }
        }

        &:checked + label:before {
            background-color: #8ce196;
        }
    }

    &.cmn-toggle-on + label:before {
        background-color: #8ce196;
    }

    &.cmn-toggle-round:checked + label:after {
        margin-left: 20px;
    }

    &.cmn-toggle-on {
        + label:after {
            margin-left: 20px;
        }

        &:checked + label {
            &:before {
                background-color: #f1f1f1;
            }

            &:after {
                margin-left: 0;
            }
        }
    }
}

img.iphone7 {
    max-width: 350px;
    float: right;
    margin-right: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    div {
        &.ruby-menu-demo-description {
            position: relative;
            width: 760px;
            height: 160px;
            margin: 0 auto;
            padding: 0;

            img {
                max-width: 200px;
                float: left;
                margin: 50px 20px 0 0;
            }
        }

        &.ruby-menu-demo-bg-light, &.ruby-menu-demo-bg-dark {
            width: 760px;
            font-size: 14px;
        }

        &.ruby-menu-demo-cs-1 {
            width: 27%;
        }

        &.ruby-menu-demo-cs-2 {
            width: 73%;
        }
    }

    td {
        &.ruby-menu-demo-theme-td-1 {
            max-width: 27px;
            padding: 7px;
        }

        &.ruby-menu-demo-theme-td-2 {
            min-width: 100px;
            padding: 7px;
        }
    }

    .ruby-menu-demo-circle {
        width: 22px;
        height: 22px;
        border: 3px solid #222;
    }

    img.iphone7 {
        max-width: 320px;
        float: right;
        margin-right: 20px;
    }
}

@media (max-width: 767px) {
    div {
        &.ruby-menu-demo-header {
            width: 100%;
            height: auto;
        }

        &.ruby-menu-demo-description {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 220px;
            padding: 10px;
            text-align: center;

            img {
                float: none;
                margin: 90px 0 0;
            }
        }

        &.ruby-menu-demo-download {
            position: relative;
            width: auto;
            top: 25px;
            right: auto;
            left: auto;

            > span {
                font-size: 20px;
                margin: 25px auto;

                > span {
                    font-size: 26px;
                }
            }
        }
    }

    button.ruby-btn {
        padding: 14px 25px;
        font-size: 16px;
        text-transform: uppercase;
    }

    div {
        &.ruby-menu-demo-bg-light {
            &.ruby-menu-demo-switches {
                display: none;
            }

            width: 100%;
            font-size: 16px;
            padding: 25px;
            margin-bottom: -100px;
        }

        &.ruby-menu-demo-bg-dark {
            width: 100%;
            font-size: 16px;
            padding: 25px;
            margin-bottom: -100px;
        }

        &.ruby-menu-demo-cv-1, &.ruby-menu-demo-cv-2, &.ruby-menu-demo-cv-3, &.ruby-menu-demo-cv-4, &.ruby-menu-demo-cr-1 {
            width: 100%;
        }

        &.ruby-menu-demo-cr-2 {
            width: 100%;
            margin-top: 40px;
        }

        &.ruby-menu-demo-cf-1, &.ruby-menu-demo-cf-2, &.ruby-menu-demo-cf-3, &.ruby-menu-demo-cf-4 {
            float: left;
            width: 50%;
            text-align: center;
        }

        &.ruby-menu-demo-f-desc {
            margin-bottom: 30px;
        }
    }

    img.iphone7 {
        max-width: 300px;
        float: none;
        margin-right: 0 auto;
    }
}

/* theme */

div.ruby-wrapper {
    background: #f9f9f9;
    color: #222;

    &.ruby-vertical {
        background: #f9f9f9;
        color: #222;
    }
}

ul.ruby-menu {
    > li {
        > a {
            color: #222;

            &:hover {
                background: #222;
                color: #fff;
            }
        }

        &:hover > a {
            background: #222;
            color: #fff;
        }

        &.ruby-active-menu-item {
            > a:hover, &:hover > a {
                background: #222;
                color: #fff;
            }

            > a {
                background: #efefef;
                color: #222;
            }
        }
    }

    &.ruby-menu-dividers > li {
        > a, &.ruby-menu-social > a {
            border-left: 1px solid #ddd;
            border-right: 1px solid #fff;
        }

        &:first-child > a, &.ruby-menu-social:last-child > a {
            border-left: none;
        }
    }

    &.ruby-vertical.ruby-menu-dividers > li {
        > a {
            border: none;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #fff;
        }

        &:first-child > a {
            border-top: none;
        }
    }

    &.ruby-menu-dividers > li {
        > a:hover, &:hover > a {
            border-left: 1px solid #222;
            border-right: 1px solid #222;
        }
    }

    &.ruby-vertical.ruby-menu-dividers > li {
        > a:hover, &:hover > a {
            border-bottom: 1px solid #222;
        }
    }

    &.ruby-menu-dividers > li.ruby-active-menu-item > a {
        border-left: 1px solid #efefef;
        border-right: 1px solid #fff;
    }

    &.ruby-vertical.ruby-menu-dividers > li {
        &.ruby-active-menu-item {
            > a {
                border-bottom: 1px solid #fff;
                border-left: none;
                border-right: none;
            }

            > a:hover, &:hover > a {
                border-bottom: 1px solid #222;
                border-left: none;
            }
        }

        > a {
            border-left: none;
            border-right: none;
        }
    }

    > li {
        > ul {
            border-top: 4px solid #222;

            > li {
                > {
                    ul {
                        border-top: 4px solid #222;

                        > li > ul {
                            border-top: 4px solid #222;
                        }
                    }

                    a {
                        background: #fff;
                        color: #666;
                    }

                    ul > li > {
                        a, ul > li > a {
                            background: #fff;
                            color: #666;
                        }
                    }
                }

                &:hover > a {
                    background: #efefef;
                }

                > {
                    a:hover {
                        background: #efefef;
                    }

                    ul > li {
                        &:hover > a {
                            background: #efefef;
                        }

                        > {
                            a:hover {
                                background: #efefef;
                            }

                            ul > li {
                                &:hover > a, > a:hover {
                                    background: #efefef;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.ruby-menu-mega > div, &.ruby-menu-mega-blog > div, &.ruby-menu-mega-shop > div {
            background: #fff;
            border-top: 4px solid #222;
        }

        &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav {
            background: #efefef;

            > li {
                > a {
                    background: #efefef;
                    color: #666;
                }

                &.ruby-active-menu-item > a {
                    background: #e6e6e6;
                }

                > div {
                    background: #fff;
                }

                &:hover > a {
                    background: #ddd;
                }
            }
        }

        &.ruby-menu-mega-shop > div > ul {
            background: #efefef;
            border-bottom: 1px solid #ddd;

            > li > {
                a {
                    color: #666;
                }

                div {
                    background: #fff;
                }
            }
        }

        &.ruby-menu-mega > div ul li > a, &.ruby-menu-mega-shop > div > ul > li > div ul > li > a {
            color: #555;
        }

        &.ruby-menu-mega > div ul li > a:hover, &.ruby-menu-mega-shop > div > ul > li > div ul > li > a:hover {
            color: #222;
        }

        &.ruby-menu-mega > div ul.ruby-list-with-images li span.ruby-list-desc {
            color: #999;
        }
    }
}

span {
    &.ruby-c-title {
        color: #222;

        a {
            color: #222;

            &:hover {
                color: #444;
            }
        }
    }

    &.ruby-c-category, &.ruby-c-date {
        color: #444;

        a {
            color: #444;
        }
    }

    &.ruby-c-category a:hover, &.ruby-c-date a:hover {
        color: #222;
    }

    &.ruby-dropdown-toggle {
        transition: transform 0.3s ease;

        &:after {
            transition: transform 0.3s ease;
        }
    }
}

@media (min-width: 768px) {
    ul.ruby-menu > li {
        &.ruby-menu-mega-shop > div > ul > li > a {
            &:before, &:after {
                background-color: #222;
            }

            &:hover {
                color: #333;
            }
        }

        &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav > li {
            &.ruby-active-menu-item > a > i, &:hover > a > i {
                border-color: transparent #fff transparent transparent;
            }
        }
    }
}

@media (max-width: 767px) {
    ul.ruby-menu > li {
        > a {
            background: #efefef;

            &:hover {
                background: #ccc;
                color: #111;
            }
        }

        &:hover > a {
            background: #ccc;
            color: #111;
        }

        &.ruby-active-menu-item > a {
            &:hover {
                background: #ccc;
                color: #111;
            }

            background: #ccc;
        }

        > ul > li > {
            a {
                background: #d1d1d1;
            }

            ul > li > {
                a, ul > li > a {
                    background: #d1d1d1;
                }
            }
        }

        &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav > li > a, &.ruby-menu-mega-shop > div > ul > li > a {
            background: #d1d1d1;
        }

        > ul > li {
            &:hover > a {
                background: #d9d9d9;
                color: #111;
            }

            > {
                a:hover {
                    background: #d9d9d9;
                    color: #111;
                }

                ul > li {
                    &:hover {
                        > a {
                            background: #d9d9d9;
                            color: #111;
                        }

                        > a {
                            background: #e1e1e1;
                        }
                    }

                    > {
                        a:hover {
                            background: #d9d9d9;
                            color: #111;
                        }

                        ul > li {
                            &:hover > a, > a:hover {
                                background: #d9d9d9;
                                color: #111;
                            }
                        }

                        a {
                            background: #e5e5e5;
                        }
                    }

                    > {
                        a:hover {
                            background: #e1e1e1;
                        }

                        ul > li {
                            > a {
                                background: #efefef;
                            }

                            &:hover > a, > a:hover {
                                background: #fff;
                            }
                        }
                    }
                }
            }
        }

        &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav > li {
            &.ruby-active-menu-item > a {
                background: #bcbcbc;
            }

            &:hover > a {
                background: #d9d9d9;
            }
        }

        &.ruby-menu-mega-shop > div > ul > li {
            &.ruby-active-menu-item > a {
                background: #bcbcbc;
            }

            &:hover > a, > a:hover, &.ruby-active-menu-item > a {
                background: #d9d9d9;
            }
        }
    }

    span.ruby-dropdown-toggle:after {
        color: #fff;
    }

    ul.ruby-menu > li {
        > {
            a:before {
                background: #333;
            }

            ul > li > {
                a:before {
                    background: #333;
                }

                ul > li > {
                    a:before, ul > li > a:before {
                        background: #333;
                    }
                }
            }
        }

        &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav > li > a:before, &.ruby-menu-mega-shop > div > ul > li > a:before {
            background: #333;
        }

        > ul > li > a:before, &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav > li > a:before, &.ruby-menu-mega-shop > div > ul > li > a:before {
            background: #555;
        }

        > ul > li > ul > li > {
            a:before {
                background: #777;
            }

            ul > li > a:before {
                background: #999;
            }
        }
    }

    .c-hamburger span {
        background: #222;

        &::before, &::after {
            background-color: #222;
        }
    }

    .c-hamburger--htx {
        background-color: #efefef;
        color: #222;

        &.is-active {
            background-color: #ddd;
        }
    }

    ul.ruby-menu {
        > li {
            &.ruby-menu-mega > div, &.ruby-menu-mega-blog > div, &.ruby-menu-mega-shop > div {
                border-top: none;
            }

            > ul {
                border-top: none;

                > li > ul {
                    border-top: none;

                    > li > ul {
                        border-top: none;
                    }
                }
            }
        }

        &.ruby-menu-dividers > li {
            border: none;

            > a, &.ruby-menu-social > a, > a:hover, &:hover > a {
                border: none;
            }
        }
    }
}

/* transision */

@media (min-width: 767px) {
    ul.ruby-menu {
        > li {
            > {
                a:after {
                    transition: all 0.3s ease;
                }

                ul {
                    > li > {
                        a:after {
                            transition: all 0.3s ease;
                        }

                        ul > li > {
                            a:after, ul > li > a > i {
                                transition: all 0.3s ease;
                            }
                        }
                    }

                    transform: translateY(25px);
                    transition: all 0.3s ease;
                }

                div {
                    transform: translateY(25px);
                    transition: all 0.3s ease;
                }
            }

            &:hover > {
                ul, div {
                    transform: translateY(0);
                }
            }
        }

        &.ruby-vertical {
            > li {
                > {
                    ul, div {
                        transform: translateX(25px);
                        transition: all 0.3s ease;
                    }
                }

                &:hover > {
                    ul, div {
                        transform: translateX(0);
                    }
                }
            }

            > li.ruby-menu-mega-blog {
                > div > ul.ruby-menu-mega-blog-nav > li > div {
                    transform: translateX(50px);
                    transition: all 0.5s ease;
                }

                &:hover > div > ul.ruby-menu-mega-blog-nav > li.ruby-active-menu-item > div, > div > ul.ruby-menu-mega-blog-nav > li:hover > div {
                    transform: translateX(0);
                }
            }

            > li.ruby-menu-mega-shop {
                > div > ul > li > div {
                    transform: translateX(50px);
                    transition: all 0.5s ease;
                }

                &:hover > div > ul > li.ruby-active-menu-item > div, > div > ul > li:hover > div {
                    transform: translateX(0);
                }
            }
        }

        > li {
            > ul > li {
                > ul {
                    transform: translateX(25px);
                    transition: all 0.3s ease;

                    > li > ul {
                        transform: translateX(25px);
                        transition: all 0.3s ease;

                        > li > ul {
                            transform: translateX(25px);
                            transition: all 0.3s ease;
                        }
                    }
                }

                &:hover > ul {
                    transform: translateX(0);
                }

                > ul > li {
                    &:hover > ul, > ul > li:hover > ul {
                        transform: translateX(0);
                    }
                }

                &.ruby-open-to-left {
                    > ul {
                        transform: translateX(-25px);
                        transition: all 0.3s ease;
                    }

                    &:hover > ul {
                        transform: translateX(0);
                    }
                }

                > ul > li {
                    &.ruby-open-to-left > ul, > ul > li.ruby-open-to-left > ul {
                        transform: translateX(-25px);
                        transition: all 0.3s ease;
                    }
                }

                > ul > li {
                    &.ruby-open-to-left:hover > ul, > ul > li.ruby-open-to-left:hover > ul {
                        transform: translateX(0);
                    }
                }
            }

            &.ruby-menu-mega-blog {
                > div > ul.ruby-menu-mega-blog-nav > li > div {
                    transform: translateY(-50px);
                    transition: all 0.5s ease;
                }

                &:hover > div > ul.ruby-menu-mega-blog-nav > li.ruby-active-menu-item > div, > div > ul.ruby-menu-mega-blog-nav > li:hover > div {
                    transform: translateY(0);
                }
            }
        }

        > li.ruby-menu-mega-shop {
            > div > ul > li > div {
                transform: translateY(-50px);
                transition: all 0.5s ease;
            }

            &:hover > div > ul > li.ruby-active-menu-item > div, > div > ul > li:hover > div {
                transform: translateY(0);
            }
        }

        > li.ruby-menu-mega-shop > div > ul > li > a {
            &:before, &:after {
                -webkit-transition: all .4s ease;
                transition: all 0.4s ease;
            }
        }
    }
}

/* main */

*, :before, :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 1440px) {
    .container {
        max-width: 1440px!important;
    }
}

div.ruby-wrapper {
    position: relative;
    height: 50px;
    margin: 0 auto;
    background: transparent;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    > ul {
        position: relative;
    }
}

ul.ruby-menu {
    > li {
        float: left;
        font-size: 14px;

        &.ruby-menu-right {
            float: right;
        }

        > a {
            display: block;
            line-height: 50px;
            padding: 0 25px 0 15px;
            color: #efefef;
            text-decoration: none;
            font-weight: 700;
            text-transform: uppercase;

            &:only-child {
                padding: 0 15px;
            }

            &:hover {
                background: #19ad86;
            }
        }

        &:hover > a {
            background: #19ad86;
        }

        &.ruby-active-menu-item {
            > a:hover, &:hover > a {
                background: #19ad86;
            }
        }

        > a:only-child:after, &:hover > a:only-child:after {
            content: "";
        }

        &.ruby-active-menu-item > a {
            background: #17a47d;
        }

        > a {
            .fa {
                position: relative;
                width: 24px;
            }

            > img {
                max-width: 16px;
                display: block;
            }
        }

        &.ruby-menu-social {
            > a {
                padding: 0;
                width: 30px;
                padding: 0 8px;
                font-size: 16px;

                > span {
                    display: none;
                }
            }

            &.ruby-menu-search > a {
                transition: all .5s ease;
                max-height: 50px;
                width: 30px;
                transition: all .5s ease;
                transition-delay: 0.3s;
            }
        }
    }

    &.ruby-menu-dividers {
        > li.ruby-menu-social.ruby-menu-search > a {
            transition: all .5s ease;
            max-height: 50px;
            width: 30px;
            transition: all .5s ease;
            transition-delay: 0.3s;
        }

        > li.ruby-menu-social.ruby-menu-search > a:hover {
            width: 120px;
        }

        > li.ruby-menu-social.ruby-menu-search > a:hover > span input {
            transform: scaleY(1);
            max-width: 80px;
        }

        > li.ruby-menu-social.ruby-menu-search > a span {
            display: inline;
        }

        > li.ruby-menu-social.ruby-menu-search > a > span input {
            position: absolute;
            width: 80px;
            height: 50px;
            line-height: 50px;
            margin: 0;
            background: none;
            color: #efefef;
            border: none;

            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            max-width: 0;
            transform: scaleY(0);
            transition: all .5s ease;
            transition-delay: 0.3s;
        }

        > li {
            > a, &.ruby-menu-social > a {
                border-left: 1px solid #111;
                border-right: 1px solid #666;
            }

            &:first-child > a, &.ruby-menu-social:last-child > a {
                border-left: none;
            }
        }
    }

    > li.ruby-menu-social.ruby-menu-search > a:hover {
        width: 120px;
    }

    > li.ruby-menu-social.ruby-menu-search > a:hover > span input {
        transform: scaleY(1);
        max-width: 80px;
    }

    > li.ruby-menu-social.ruby-menu-search > a span {
        display: inline;
    }

    > li.ruby-menu-social.ruby-menu-search > a > span input {
        position: absolute;
        width: 80px;
        height: 50px;
        line-height: 50px;
        margin: 0;
        background: none;
        color: #efefef;
        border: none;

        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        max-width: 0;
        transform: scaleY(0);
        transition: all .5s ease;
        transition-delay: 0.3s;
    }

    > li.ruby-menu-social.ruby-menu-search > a > span input {
        &:focus {
            outline: none;
            color: #efefef;
        }

        &::-webkit-input-placeholder {
            color: #efefef;
        }
    }

    &.ruby-vertical.ruby-menu-dividers > li {
        > a {
            border: none;
            border-top: 1px solid #111;
            border-bottom: 1px solid #666;
        }

        &:first-child > a {
            border-top: none;
        }
    }

    &.ruby-menu-dividers > li {
        > a:hover, &:hover > a {
            border-right: 1px solid #19ad86;
        }
    }

    &.ruby-vertical.ruby-menu-dividers > li {
        > a:hover, &:hover > a {
            border-bottom: 1px solid #19ad86;
        }
    }

    &.ruby-menu-dividers > li.ruby-active-menu-item > a {
        border-right: 1px solid #17a47d;
    }

    &.ruby-vertical.ruby-menu-dividers > li.ruby-active-menu-item > a {
        border-bottom: 1px solid #17a47d;
    }

    > li {
        > ul {
            position: absolute;
            -webkit-box-shadow: 0 8px 24px -5px #ccc;
            -moz-box-shadow: 0 8px 24px -5px #ccc;
            box-shadow: 0 8px 24px -5px #ccc;
            border-top: 4px solid #19ad86;

            > li {
                > {
                    ul {
                        position: absolute;
                        -webkit-box-shadow: 0 8px 24px -5px #ccc;
                        -moz-box-shadow: 0 8px 24px -5px #ccc;
                        box-shadow: 0 8px 24px -5px #ccc;
                        border-top: 4px solid #19ad86;

                        > li {
                            > ul {
                                position: absolute;
                                -webkit-box-shadow: 0 8px 24px -5px #ccc;
                                -moz-box-shadow: 0 8px 24px -5px #ccc;
                                box-shadow: 0 8px 24px -5px #ccc;
                                border-top: 4px solid #19ad86;
                            }

                            position: relative;
                        }
                    }

                    a {
                        display: block;
                        width: 170px;
                        line-height: 40px;
                        padding: 0 35px 0 25px;
                        background: #fff;
                        color: #666;
                        text-decoration: none;
                        font-size: 14px;
                    }

                    ul > li > {
                        a, ul > li > a {
                            display: block;
                            width: 170px;
                            line-height: 40px;
                            padding: 0 35px 0 25px;
                            background: #fff;
                            color: #666;
                            text-decoration: none;
                            font-size: 14px;
                        }
                    }
                }

                position: relative;

                &:hover > a {
                    background: #efefef;
                }

                > {
                    a:hover {
                        background: #efefef;
                    }

                    ul > li {
                        &:hover > a {
                            background: #efefef;
                        }

                        > {
                            a:hover {
                                background: #efefef;
                            }

                            ul > li {
                                &:hover > a, > a:hover {
                                    background: #efefef;
                                }
                            }
                        }
                    }

                    a:only-child:after {
                        content: "";
                    }

                    ul > li > {
                        a:only-child:after, ul > li > a:only-child:after {
                            content: "";
                        }
                    }

                    a .fa {
                        position: relative;
                        width: 24px;
                    }

                    ul > li > {
                        a .fa, ul > li > a .fa {
                            position: relative;
                            width: 24px;
                        }
                    }
                }
            }
        }

        &.ruby-menu-right > ul {
            right: 0;
        }

        > ul > li {
            > ul {
                left: 170px;
                top: -4px;
                z-index: 100;

                > li > ul {
                    left: 170px;
                    top: -4px;
                    z-index: 100;
                }
            }

            &.ruby-open-to-left > ul, > ul > li.ruby-open-to-left > ul {
                left: auto;
                right: 170px;
            }
        }

        &.ruby-menu-mega > div, &.ruby-menu-mega-blog > div, &.ruby-menu-mega-shop > div {
            position: absolute;
            width: 100%;
            height: auto;
            top: 50px;
            left: 0;
            background: #fff;
            border-top: 4px solid #19ad86;
            overflow: hidden;
            -webkit-box-shadow: 0 8px 24px -5px #ccc;
            -moz-box-shadow: 0 8px 24px -5px #ccc;
            box-shadow: 0 8px 24px -5px #ccc;
        }

        &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav {
            position: relative;
            width: 200px;
            height: 100%;
            left: 0;
            top: 0;
            background: #efefef;

            > li {
                font-size: 14px;

                > a {
                    display: block;
                    line-height: 40px;
                    padding: 0 15px;
                    background: #efefef;
                    color: #666;
                    text-decoration: none;
                }

                &.ruby-active-menu-item > a {
                    background: #e6e6e6;
                }

                > div {
                    position: absolute;
                    width: 780px;
                    height: auto;
                    min-height: 100%;
                    left: 200px;
                    top: 0;
                    background: #fff;
                }

                &:hover > a {
                    background: #ddd;
                }
            }
        }

        &.ruby-menu-mega-shop > div {
            text-align: center;
            z-index: 999999;

            > ul {
                width: 100%;
                background: #efefef;
                margin: 0 auto;
                padding: 0;
                border-bottom: 1px solid #ddd;
                font-size: 0;
                z-index: 100;

                > li {
                    display: inline-block;
                    margin: 0;

                    > a {
                        display: block;
                        padding: 20px 15px;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 14px;
                        font-stretch: expanded;
                        color: #666;
                    }

                    &:hover > a, > a:hover, &.ruby-active-menu-item > a {
                        text-decoration: none;
                    }

                    > {
                        a {
                            position: relative;
                            text-decoration: none;
                            display: inline-block;
                        }

                        div {
                            position: absolute;
                            width: 100%;
                            left: 0;
                            top: auto;
                            margin-top: 1px;
                            text-align: left;
                            background: #fff;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }
}

div {
    &.ruby-grid, &.ruby-grid-lined {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    &.ruby-grid {
        > div.ruby-row {
            position: relative;
            width: 100%;
            height: auto;

            div.ruby-row {
                [class^="ruby-col"] {
                    margin-top: 16px;
                }

                &:first-of-type [class^="ruby-col"] {
                    margin-top: 0;
                }
            }
        }

        &.ruby-grid-lined {
            > div.ruby-row {
                &:after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    left: 0;
                    bottom: 0;
                    background: -webkit-linear-gradient(left, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 0.48) 24%, rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, 0.42) 79%, rgba(204, 204, 204, 0) 100%);
                }

                &:last-child:after {
                    height: 0;
                }
            }

            > div.ruby-row > div[class^="ruby-col"] {
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    right: 0;
                    background: -webkit-linear-gradient(top, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 0.48) 24%, rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, 0.42) 79%, rgba(204, 204, 204, 0) 100%);
                }

                &:last-child:after {
                    width: 0;
                }
            }
        }

        > div.ruby-row {
            &::after {
                content: "";
                display: table;
                clear: both;
            }

            [class^="ruby-col"] {
                position: relative;
                float: left;
                height: auto;
            }

            > [class^="ruby-col"] {
                padding: 16px;

                [class^="ruby-col"] {
                    padding-left: 16px;

                    &:first-of-type {
                        padding-left: 0;
                    }
                }
            }

            div {
                &.ruby-col-1 {
                    width: 8.33%;
                }

                &.ruby-col-2 {
                    width: 16.66%;
                }

                &.ruby-col-3 {
                    width: 25%;
                }

                &.ruby-col-4 {
                    width: 33.33%;
                }

                &.ruby-col-5 {
                    width: 41.66%;
                }

                &.ruby-col-6 {
                    width: 50%;
                }

                &.ruby-col-7 {
                    width: 58.33%;
                }

                &.ruby-col-8 {
                    width: 66.66%;
                }

                &.ruby-col-9 {
                    width: 75%;
                }

                &.ruby-col-10 {
                    width: 83.33%;
                }

                &.ruby-col-11 {
                    width: 91.66%;
                }

                &.ruby-col-12 {
                    width: 100%;
                }
            }
        }

        img {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
}

h3.ruby-list-heading {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
}

ul.ruby-menu > li {
    &.ruby-menu-right {
        a {
            i {
                transform: unset!important;
                margin-left: 0;
            }
        }
    }
    a {
        i {
            margin-left: 5px;
        }
    }
    &.ruby-menu-mega > div ul, &.ruby-menu-mega-shop > div > ul > li > div ul {
        margin: 0;
        margin-top: 10px;
    }

    &.ruby-menu-mega > div ul li, &.ruby-menu-mega-shop > div > ul > li > div ul > li {
        position: relative;
        font-size: 14px;
        line-height: 28px;
        display: block;
        width: 100%;
    }

    &.ruby-menu-mega > div ul li > a, &.ruby-menu-mega-shop > div > ul > li > div ul > li > a {
        text-decoration: none;
        color: #555;
        display: inline-block;
    }

    &.ruby-menu-mega > div ul li > a:hover, &.ruby-menu-mega-shop > div > ul > li > div ul > li > a:hover {
        color: #222;
        text-decoration: underline;
    }

    &.ruby-menu-mega > div ul li .fa, &.ruby-menu-mega-shop > div > ul > li > div ul > li .fa {
        position: relative;
        width: 24px;
    }

    &.ruby-menu-mega > div ul {
        &.ruby-list-with-images li {
            height: 50px;

            span.ruby-list-desc {
                font-size: 11px;
                display: block;
                position: absolute;
                top: 16px;
                left: 72px;
                color: #999;
            }
        }

        li > a > img {
            float: left;
            width: 60px;
            margin-right: 12px;
        }
    }
}

span {
    &.ruby-c-title, &.ruby-c-category, &.ruby-c-date {
        position: relative;
        display: block;
    }

    &.ruby-c-title a, &.ruby-c-category a, &.ruby-c-date a {
        text-decoration: none;
    }

    &.ruby-c-title {
        font-size: 14px;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 20px;
        margin-top: -5px;
        color: #222;

        a {
            font-size: 14px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 20px;
            margin-top: -5px;
            color: #222;

            &:hover {
                color: #444;
                text-decoration: underline;
            }
        }
    }

    &.ruby-c-category {
        font-size: 11px;
        margin: 9px 0;
        color: #444;

        a {
            font-size: 11px;
            margin: 9px 0;
            color: #444;
        }
    }

    &.ruby-c-date {
        font-size: 11px;
        color: #444;

        a {
            font-size: 11px;
            color: #444;
        }
    }

    &.ruby-c-category a:hover, &.ruby-c-date a:hover {
        color: #19ad86;
    }
}

div.ruby-c-inline {
    display: block;
    position: relative;
    height: 14px;
    margin: 7px 0;

    span {
        &.ruby-c-category {
            position: absolute;
            display: inline-block;
        }

        &.ruby-c-date {
            position: absolute;
            display: inline-block;
            right: 0;
        }

        &.ruby-c-category {
            margin: 0;

            a {
                margin: 0;
            }
        }
    }
}

span.ruby-c-content {
    display: block;
    position: relative;
    top: 7px;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
}

.ruby-wrapper .visible-xs {
    visibility: hidden;
    position: absolute;
}

@media (min-width: 768px) {
    div.ruby-wrapper {
        &.ruby-menu-transparent {
            background: none;

            > ul.ruby-menu {
                > li {
                    &.ruby-active-menu-item > a {
                        background: none;
                    }

                    &.ruby-menu-social > a {
                        border: none;
                    }
                }

                &.ruby-menu-dividers {
                    > li > a {
                        border: none;
                    }

                    > li {
                        &:hover > a, > a:hover {
                            background: none;
                            color: #e2e2e2;
                        }
                    }
                }

                > li {
                    &:hover > a, > a:hover {
                        background: none;
                        color: #e2e2e2;
                    }
                }

                > li.ruby-menu-social.ruby-menu-search {
                    > a:hover, &:hover > a {
                        background: none;
                    }
                }
            }
        }

        &.ruby-menu-full-width {
            width: 100%;

            > ul.ruby-menu {
                width: 980px;
                margin: 0 auto;
            }
        }
    }

    ul.ruby-menu > li {
        > ul {
            visibility: hidden;
            opacity: 0;

            > li > ul {
                visibility: hidden;
                opacity: 0;

                > li > ul {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        &:hover > ul {
            visibility: visible;
            opacity: 1;
        }

        > ul > li {
            &:hover > ul, > ul > li:hover > ul {
                visibility: visible;
                opacity: 1;
            }
        }

        &.ruby-menu-mega > div, &.ruby-menu-mega-blog > div, &.ruby-menu-mega-shop > div {
            visibility: hidden;
            opacity: 0;
        }

        &.ruby-menu-mega:hover > div, &.ruby-menu-mega-blog:hover > div, &.ruby-menu-mega-shop:hover > div {
            visibility: visible;
            opacity: 1;
        }

        &.ruby-menu-mega-blog {
            > div > ul.ruby-menu-mega-blog-nav > li > div {
                visibility: hidden;
                opacity: 0;
            }

            &:hover > div > ul.ruby-menu-mega-blog-nav > li.ruby-active-menu-item > div {
                visibility: visible;
                opacity: 1;
            }

            > div > ul.ruby-menu-mega-blog-nav > li:hover > div {
                visibility: visible;
                opacity: 1;
                z-index: 101;
            }
        }

        &.ruby-menu-mega-shop {
            > div > ul > li > div {
                visibility: hidden;
                opacity: 0;
            }

            &:hover > div > ul > li.ruby-active-menu-item > div {
                visibility: visible;
                opacity: 1;
            }

            > div > ul > li {
                &:hover > div {
                    visibility: visible;
                    opacity: 1;
                }

                > a {
                    &:before, &:after {
                        height: 1px;
                        position: absolute;
                        content: '';
                        background-color: #19ad86;
                        width: 0;
                    }

                    &:before {
                        top: 10px;
                        left: 5%;
                    }

                    &:after {
                        bottom: 10px;
                        right: 5%;
                    }

                    &:hover {
                        color: #333;
                    }
                }
            }
        }
    }

    .snip1217 .current a {
        color: #333;
    }

    ul.ruby-menu > li {
        &.ruby-menu-mega-shop > div > ul > li {
            > a:hover:before {
                width: 90%;
            }

            &.ruby-active-menu-item {
                > a:before, > a > i {
                    width: 90%;
                }
            }

            > a:hover:after {
                width: 90%;
            }

            &:hover > a {
                &:before, &:after {
                    width: 90%;
                }
            }
        }


        &:hover > a > i {
            -webkit-transform: rotate(90deg);
transition: transform 0.3s ease;
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            transition: transform 0.3s ease;
        }

        > ul > li {
            > {
                a:after {
                    font-family: "FontAwesome";
                    text-decoration: none;
                    font-size: 16px;
                    padding: 0;
                    content: '\f105';
                    position: absolute;
                    right: 15px;
                }

                ul > li > {
                    a:after, ul > li > a > i {
                        font-family: "FontAwesome";
                        text-decoration: none;
                        font-size: 16px;
                        padding: 0;
                        content: '\f105';
                        position: absolute;
                        right: 15px;
                    }
                }
            }

            &:hover > a > i {
                -webkit-transform: rotate(90deg);
transition: transform 0.3s ease;
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                transition: transform 0.3s ease;
            }

            > ul > li {
                &:hover > a > i, > ul > li:hover > a > i {
                    -webkit-transform: rotate(90deg);
transition: transform 0.3s ease;
                    -moz-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }

            &.ruby-open-to-left {
                > a > i {
                    content: '\f104';
                    right: auto;
                    left: 10px;
                }

                &:hover > a > i {
                    -webkit-transform: rotate(90deg);
transition: transform 0.3s ease;
                    -moz-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }

            > ul > li {
                &.ruby-open-to-left > a > i, > ul > li.ruby-open-to-left > a > i {
                    content: '\f104';
                    right: auto;
                    left: 10px;
                }
            }

            > ul > li {
                &.ruby-open-to-left:hover > a > i, > ul > li.ruby-open-to-left:hover > a > i {
                    -webkit-transform: rotate(90deg);
transition: transform 0.3s ease;
                    -moz-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
        }

        &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav > li {
            &.ruby-active-menu-item > a > i, &:hover > a > i {
                content: "";
                position: absolute;
                right: 0;
                margin-top: 13px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 8px 6px 0;
                border-color: transparent #fff transparent transparent;
            }
        }
    }
}

/* responsive */

@media (max-width: 767px) {
    div.ruby-wrapper {
        .hidden-xs {
            visibility: hidden;
            display: none;
        }
        width: 100%;
        top: 0;
        background: #0a3544;
    }

    .ruby-wrapper .visible-xs {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }

    div.ruby-wrapper > ul {
        position: absolute;
        top: 50px;
        width: 100%;
    }

    ul.ruby-menu > li {
        float: none;

        &.ruby-menu-right {
            float: none;
        }

        > a {
            padding: 0 65px;
            background: #19ad86;

            &:only-child {
                padding: 0 65px;
            }

            &:hover {
                background: #127e61;
            }
        }

        &:hover > a {
            background: #127e61;
        }

        &.ruby-active-menu-item > a {
            &:hover {
                background: #127e61;
            }

            background: #159572;
        }

        &.ruby-menu-social {
            > a > span {
                display: block;
            }

            > a {
                border: none;
            }
        }

        > ul {
            position: relative;
            width: 100%;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-top: none;

            > li {
                > {
                    ul {
                        position: relative;
                        width: 100%;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        border-top: none;

                        > li {
                            > ul {
                                position: relative;
                                width: 100%;
                                -webkit-box-shadow: none;
                                -moz-box-shadow: none;
                                box-shadow: none;
                                border-top: none;

                                > li {
                                    position: relative;
                                }
                            }

                            position: relative;
                        }
                    }

                    a {
                        width: 100%;
                        line-height: 50px;
                        padding: 0 80px;
                        background: #d1d1d1;
                    }

                    ul > li > {
                        a, ul > li > a {
                            width: 100%;
                            line-height: 50px;
                            padding: 0 80px;
                            background: #d1d1d1;
                        }
                    }
                }

                position: relative;

                &:hover > a {
                    background: #d9d9d9;
                    color: #111;
                }

                > {
                    a:hover {
                        background: #d9d9d9;
                        color: #111;
                    }

                    ul {
                        > li {
                            &:hover > a {
                                background: #d9d9d9;
                                color: #111;
                            }

                            > {
                                a:hover {
                                    background: #d9d9d9;
                                    color: #111;
                                }

                                ul {
                                    > li {
                                        &:hover > a, > a:hover {
                                            background: #d9d9d9;
                                            color: #111;
                                        }
                                    }

                                    left: auto;
                                    top: auto;
                                    z-index: auto;
                                }
                            }
                        }

                        left: auto;
                        top: auto;
                        z-index: auto;
                    }
                }

                &.ruby-open-to-left > ul {
                    left: auto;
                    right: auto;
                }

                > ul > li {
                    &.ruby-open-to-left > ul {
                        left: auto;
                        right: auto;
                    }

                    > a {
                        background: #e5e5e5;
                        padding: 0 95px;
                    }

                    &:hover > a {
                        background: #e1e1e1;
                    }

                    > {
                        a:hover {
                            background: #e1e1e1;
                        }

                        ul > li {
                            > a {
                                background: #efefef;
                                padding: 0 110px;
                            }

                            &:hover > a, > a:hover {
                                background: #fff;
                            }
                        }
                    }
                }
            }
        }

        position: relative;

        &.ruby-menu-mega, &.ruby-menu-mega-blog, &.ruby-menu-mega-shop {
            position: relative;
        }

        &.ruby-menu-mega > div, &.ruby-menu-mega-blog > div, &.ruby-menu-mega-shop > div {
            position: relative;
            top: auto;
            left: auto;
            border-top: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav {
            width: 100%;
            height: auto;
            left: auto;
            top: auto;

            > li {
                position: relative;

                > a {
                    line-height: 50px;
                    padding: 0 75px;
                    background: #d1d1d1;
                    color: #222;
                }

                &.ruby-active-menu-item > a {
                    background: #bcbcbc;
                }

                > div {
                    position: relative;
                    width: 100%;
                    min-height: auto;
                    left: auto;
                    top: auto;
                    z-index: auto;
                }

                &:hover > a {
                    background: #d9d9d9;
                }
            }
        }

        &.ruby-menu-mega-shop > div {
            position: relative;
            text-align: left;

            > ul {
                position: relative;
                border: none;
                font-size: 14px;
                margin-bottom: -1px;

                > li {
                    position: relative;
                    display: block;
                    margin-top: -1px;

                    > a {
                        padding: 0 80px;
                        line-height: 50px;
                        max-height: 50px;
                        text-transform: none;
                        font-weight: 400;
                        background: #d1d1d1;
                        color: #222;
                        border: none;
                    }

                    &.ruby-active-menu-item > a {
                        background: #bcbcbc;
                    }

                    &:hover > a, > a:hover, &.ruby-active-menu-item > a {
                        background: #d9d9d9;
                    }

                    > {
                        a {
                            display: block;
                        }

                        div {
                            position: relative;
                            top: 0;
                            z-index: 9999;
                            margin: 0;
                        }
                    }
                }
            }
        }

        &.ruby-menu-social {
            img {
                display: inline-table;
                position: absolute;
                top: 15px;
            }

            > a {
                width: 100%;
            }

            .fa {
                position: absolute;
                top: 17px;
            }

            span {
                line-height: 50px;
                padding: 0 25px;
            }
        }
    }

    span.ruby-dropdown-toggle {
        position: absolute;
        width: 50px;
        height: 50px;
        max-width: 50px;
        max-height: 50px;
        left: 0;
        top: 0;
        padding: 10px 17px;
        z-index: 1000000;
        cursor: pointer;

        &:after {
            font-family: "FontAwesome";
            text-decoration: none;
            content: '\f107';
            color: #fff;
            font-size: 25px;
            right: 0;
        }

        &.ruby-dropdown-toggle-rotate {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    ul.ruby-menu {
        > li {
            > {
                a:before {
                    content: "";
                    width: 50px;
                    height: 50px;
                    background: #333;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                ul > li > {
                    a:before {
                        content: "";
                        width: 50px;
                        height: 50px;
                        background: #333;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }

                    ul > li > {
                        a:before, ul > li > a:before {
                            content: "";
                            width: 50px;
                            height: 50px;
                            background: #333;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }
            }

            &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav > li > a:before, &.ruby-menu-mega-shop > div > ul > li > a:before {
                content: "";
                width: 50px;
                height: 50px;
                background: #333;
                position: absolute;
                left: 0;
                top: 0;
            }

            > ul > li > a:before, &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav > li > a:before, &.ruby-menu-mega-shop > div > ul > li > a:before {
                background: #555;
            }

            > ul {
                > li > ul {
                    > li > {
                        a:before {
                            background: #777;
                        }

                        ul {
                            > li > a:before {
                                background: #999;
                            }

                            max-height: 0;
                            transform: scaleY(0);
                            overflow: hidden;
                        }
                    }

                    max-height: 0;
                    transform: scaleY(0);
                    overflow: hidden;
                }

                max-height: 0;
                transform: scaleY(0);
                overflow: hidden;
            }

            &.ruby-menu-mega > div, &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav > li > div, &.ruby-menu-mega-shop > div > ul > li > div, &.ruby-menu-mega-blog > div, &.ruby-menu-mega-shop > div {
                max-height: 0;
                transform: scaleY(0);
                overflow: hidden;
            }

            > ul {
                &.ruby-mobile-sublevel-show {
                    max-height: 20000px;
                    transform: scaleY(1);
                }

                > li > ul {
                    &.ruby-mobile-sublevel-show, > li > ul.ruby-mobile-sublevel-show {
                        max-height: 20000px;
                        transform: scaleY(1);
                    }
                }
            }
        }

        max-height: 0;
        transform: scaleY(0);
        overflow: hidden;

        &.ruby-mobile-sublevel-show {
            max-height: 20000px;
            transform: scaleY(1);
        }

        > li {
            &.ruby-menu-mega > div.ruby-mobile-sublevel-show {
                max-height: 20000px;
                transform: scaleY(1);
            }

            &.ruby-menu-mega-blog > div {
                &.ruby-mobile-sublevel-show, > ul.ruby-menu-mega-blog-nav > li > div.ruby-mobile-sublevel-show {
                    max-height: 20000px;
                    transform: scaleY(1);
                }
            }

            &.ruby-menu-mega-shop > div {
                &.ruby-mobile-sublevel-show, > ul > li > div.ruby-mobile-sublevel-show {
                    max-height: 20000px;
                    transform: scaleY(1);
                }
            }
        }
    }

    div.ruby-grid {
        > div.ruby-row div.ruby-row {
            [class^="ruby-col"], &:first-of-type [class^="ruby-col"] {
                margin-top: 0;
            }
        }

        &.ruby-grid-lined {
            > div.ruby-row:after {
                height: 0;
            }

            > div.ruby-row > div[class^="ruby-col"]:after {
                width: 0;
            }
        }

        > div.ruby-row {
            > [class^="ruby-col"] {
                padding: 0;

                [class^="ruby-col"] {
                    padding-left: 0;

                    &:first-of-type {
                        padding-left: 0;
                    }
                }
            }

            div {
                &.ruby-col-1, &.ruby-col-2, &.ruby-col-3, &.ruby-col-4, &.ruby-col-5, &.ruby-col-6, &.ruby-col-7, &.ruby-col-8, &.ruby-col-9, &.ruby-col-10, &.ruby-col-11, &.ruby-col-12 {
                    width: 100%;
                    padding: 20px 30px;
                }
            }
        }

        > div.ruby-row::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .c-hamburger {
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 50px;
        height: 50px;
        font-size: 0;
        text-indent: -9999px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        -webkit-transition: background .3s;
        transition: background 0.3s;

        &:focus {
            outline: none;
        }

        span {
            display: block;
            position: absolute;
            top: 24px;
            left: 8px;
            right: 8px;
            height: 3px;
            background: #fff;

            &::before, &::after {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #fff;
                content: "";
            }

            &::before {
                top: -10px;
            }

            &::after {
                bottom: -10px;
            }
        }
    }

    .c-hamburger--htx {
        background-color: #19ad86;

        span {
            -webkit-transition: background 0 .3s;
            transition: background 0 0.3s;

            &::before, &::after {
                -webkit-transition-duration: 0.3s,.3s;
                transition-duration: 0.3s,.3s;
                -webkit-transition-delay: 0.3s,0;
                transition-delay: 0.3s, 0;
            }

            &::before {
                -webkit-transition-property: top,-webkit-transform;
                transition-property: top, transform;
            }

            &::after {
                -webkit-transition-property: bottom,-webkit-transform;
                transition-property: bottom, transform;
            }
        }

        &.is-active {
            background-color: #333;

            span {
                background: none;

                &::before {
                    top: 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                &::after {
                    bottom: 0;
                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }

                &::before, &::after {
                    -webkit-transition-delay: 0s,.3s;
                    transition-delay: 0s, 0.3s;
                }
            }
        }
    }

    ul.ruby-menu.ruby-menu-dividers > li {
        border: none;

        > a, &.ruby-menu-social > a, > a:hover, &:hover > a {
            border: none;
        }
    }

    div.ruby-wrapper.ruby-menu-transparent > ul.ruby-menu > li.ruby-active-menu-item > a {
        padding-left: 45px;
    }

    ul.ruby-menu > li.ruby-menu-social.ruby-menu-search > a {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ruby-wrapper .hidden-md {
        visibility: hidden;
        display: none;
    }

    div.ruby-wrapper {
        width: 760px;
    }

    ul.ruby-menu {
        > li.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav {
            width: 170px;

            > li > div {
                width: 590px;
                left: 170px;
            }
        }

        &.ruby-vertical > li {
            &.ruby-menu-mega > div, &.ruby-menu-mega-blog > div, &.ruby-menu-mega-shop > div {
                width: 560px;
            }

            &.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav > li > div {
                width: 360px;
            }
        }
    }

    span.ruby-c-date {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    div.ruby-grid {
        > div.ruby-row div {
            &.ruby-col-3-md {
                width: 25%;
            }

            &.ruby-col-4-md {
                width: 33.33%;
            }

            &.ruby-col-6-md {
                width: 50%;
            }

            &.ruby-col-12-md {
                width: 100%;
            }
        }

        &.ruby-grid-lined > div.ruby-row {
            &:after, > div[class^="ruby-col"]:after {
                background: none;
            }
        }
    }

    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a {
        padding: 20px 5px;
        font-size: 12px;
        font-stretch: condensed;
        color: #666;
    }
}
a {
    color: #036;
}

.flex-100 {
    flex: 0 0 100%!important;
    max-width: 100%!important;
}

.sp-line-1,.sp-line-2,.sp-line-3,.sp-line-4{overflow:hidden;text-overflow:ellipsis;display:-webkit-box!important;-webkit-box-orient:vertical}.sp-line-1{-webkit-line-clamp:1}.sp-line-2{-webkit-line-clamp:2}.sp-line-3{-webkit-line-clamp:3}.sp-line-4{-webkit-line-clamp:4}
