.his_about{
    margin-top: 95px;
    h3{
        font-size: 32px;
        font-weight: bold;
        color: #cb0c1b;
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
    }
    h2{
        font-size: 32px;
        font-weight: bold;
        color: #cb0c1b;
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
    }
    .his_about-item{
        @extend .d-flex, .align-items-start, .flex-column, .flex-sm-row;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            border-left: 1px solid #707070;
            top: 0;
            bottom: 0;
            left: 50%;
        }
        &::after{
            content: '';
            position: absolute;
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 30px;
            background: #CB0C1B;
            top: 53px;
            left: 50%;
            transform: translateX(-50%);
        }
        .his_about-text{
            @extend .col-12, .col-sm-6;
            padding: 35px;
            padding-bottom: 15px;
            padding-left: 0;
            text-align: right;
            time{
                color: #31CBE3;
                font-size: 20px;
                font-weight: 600;
            }
            .title{
                font-size: 20px;
                font-weight: 600;
                color: #333333;
                margin-bottom: 35px;
            }
            p{
                font-size: 16px;
                color: #333333;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
        figure{
            @extend .col-12, .col-sm-6;
            margin: 0;
            padding: 35px;
            padding-right: 0;
            padding-bottom: 15px;
            position: relative;
            display: inline-block;
            width: 100%;
            padding-bottom: 26%;
            img{
                position: absolute;
                width: calc(100% - 35px);
                height: calc(100% - 70px);
                border: 1px solid #ccc;
                object-fit: none;
                left: 35px;
                top: 35px;
            }
        }
        &:nth-child(2n){
            @extend .flex-sm-row-reverse;
            @media (min-width: 576px) {
                .his_about-text{
                    text-align: left;
                    padding-right: 0;
                    padding-left: 35px;
                }
                figure{
                    padding-right: 35px;
                    padding-left: 0;
                    img{
                        left: 0;
                    }
                }
            }
        }
        &:last-child{
            figure img{
                object-fit: scale-down;
            }
        };
    }
}

@media(max-width: 575px){
    .his_about .his_about-item::after{
        left: 0;
    }
    .his_about .his_about-item::before{
        left: 0;
    }
    .his_about .his_about-item .his_about-text{
        text-align: left;
        padding-left: 30px;
        padding-right: 10px;
        time{
            font-size: 18px;
        }
        .title{
            font-size: 18px;
            margin-bottom: 20px;
        }
        p{
            font-size: 14px;
        }
    }
    .his_about .his_about-item figure{
        margin-bottom: 30px;
        padding-bottom: 45%;
        img{
            height: 100%;
            top: 0;
            object-fit: cover;
        }
    }
}