.sevice-wf{
    margin-top: 60px;
    h3{
        font-size: 32px;
        font-weight: bold;
        color: #CB0C1B;
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
    }
    h2{
        font-size: 32px;
        font-weight: bold;
        color: #CB0C1B;
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
    }
    .sevice-wf-item{
        box-shadow: 0px 3px 15px #00000014;
        padding: 60px 20px 30px;
        text-align: center;
        height: 100%;
        @extend .d-flex, .flex-column, .justify-content-between;
        &:hover{
            box-shadow: 0px 3px 30px #00000014;
        }
        img{
            display: block;
            margin: 0 auto 20px;
        }
        h4, a, h3{
            font-size: 24px;
            margin-bottom: 15px;
            font-weight: 700;
            color: #333;
        }
        p{
            font-size: 16px;
            margin-bottom: 0;
            overflow: hidden;
            height: 75px;
        }
    }
}