@charset "UTF-8";
.wrapper{
    width:100%;
    overflow:hidden
}
body{
    min-width: 320px;
    color: #666;
    background-color: #f6f8fa;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size:14px;
}

.line-though{
    text-decoration:line-through
}
.fs-11{
    font-size:11px
}
.fs-12{
    font-size:12px
}
.fs-13{
    font-size:13px
}
.fs-14{
    font-size:14px
}
.fs-14{
    font-size:14px
}
.fs-16{
    font-size:16px
}
.fs-18{
    font-size:18px
}
.fs-20{
    font-size:20px
}
.fs-22{
    font-size:22px
}
.fs-24{
    font-size:24px
}
.fs-26{
    font-size:26px
}
.fs-30{
    font-size:30px
}
.fs-36{
    font-size:36px
}
.text-black{
    color:#000!important
}
.text-green-light{
    color:#85c150!important
}
.text-green-32a923{
    color:#32a923!important
}
.text-light-purple{
    color:#a251da!important
}
.text-b42456{
    color:#b42456!important
}
.text-gray{
    color:#999
}
.color-fail{
    color:red
}
.line-h11{
    line-height:1.1
}
.lineh_43{
    line-height:43px
}
a{
    transition: 0.3s all;
    &:focus,&:hover{
        text-decoration:none;
        transition: 0.3s all;
    }
}
ul{
    margin-bottom: 0;
}

.btn-theme{
    background-color: #c5010d;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    padding: 20px 40px;
    border-radius: 3px;
    font-weight: bold;
    &:hover{
        color: rgba(255, 255, 255, 255);
        box-shadow: inset 0 7px 9px 0 rgba(0, 0, 0, 0.39);
    }
}

.btn-blue{
    color: #fff;
    background-color: #4a81d4;
    border-color: #4a81d4;
    &:hover {
        color: #fff;
        background-color: #306cc8;
        border-color: #2d67be;
    }
}

.type-title-1{
    text-align: center;
    h4{
        font-size: 14px;
        color: #fff;
        background: linear-gradient(to right, #f12a2a, #f37931);
        padding: 11px 33px;
        border-radius: 100px;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 15px;
    }
    p{
        font-size: 30px;
        color: #4f4f4f;
    }
}

.form-control:focus, .lending-sidebar-right .sidebar input:focus, .lending-sidebar-right .sidebar select:focus{
    border-color: $theme;
    box-shadow: 0 0 0 0.2rem rgba($color: $theme, $alpha: 0.25);
}
.back-to-top{
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: #003366;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    &.show {
        opacity: 1;
        visibility: visible;
    }

}
.title-theme{
    color: $theme;
}
.page_static .wrap_content{
    padding: 30px 0 60px;
}

/*============================
==============================
==============================
error 404
==============================
==============================
============================*/
.page_404{
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    @extend .d-flex, .align-items-center;
    img{
        max-width: 100%;
    }
    h4{
        font-size: 18px;
        color: rgba(65, 65, 65, 255);
        margin-top: 20px;
        margin-bottom: 15px;
    }
    a{
        background: #388cf5;
        color: #fff;
        font-weight: normal;
    }
}
@media(max-width: 768px){
    .back-to-top{
        display: none;
    }
    .page_static .wrap_content{
        padding: 0px 0 30px;
    }
}

@media(max-width: 439px){
    .type-title-1 p{
        font-size: 22px;
    }
}

#pb_loader {
    position: fixed;
    width:  96px;
    height: 96px;
    left:  50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
    border-radius:16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index:1000;
}

#pb_loader.fullscreen {
    padding:  0;
    left:  0;
    top:  0;
    width:  100%;
    height: 100%;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
}

#pb_loader.show {
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#pb_loader .circular {
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left:  calc(50% - 24px);
    top:  calc(50% - 24px);
    display: block;
    transform: rotate(0deg);
}

#pb_loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes loader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

.m {
    width: 100%;
    margin-right: 10px;
    a {
        position: relative;
        padding-bottom: 60%;
        display: inline-block;
        width: 100%;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.gra-b-dark {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,#000 100%);
}

.bg-black {
    background-color: #000!important;
}

main {
    margin-top: 50px;
    @media screen and (max-width: 480px) {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .mx-md-0 {
        margin-left: 0!important;
        margin-right: 0!important;
    }
}