@charset "utf-8";
.fstElement{
    width:100%;
}
.fstChoiceItem,.fstResultItem{
    font-size: 1em;
}
.fstMultipleMode .fstQueryInput{
    font-size: 1em;
}
.fstMultipleMode .fstControls{
    width: 100%
}
