<template>
    <div class="page-footer">
        <div class="container tags">
            <div class="row">
                <div class="col-6 col-md-2 section-nav">
                    <h6 class="nav-title"><a href="#">World</a></h6>
                    <ul>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 section-nav">
                    <h6 class="nav-title"><a href="#">World</a></h6>
                    <ul>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 section-nav">
                    <h6 class="nav-title"><a href="#">World</a></h6>
                    <ul>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 section-nav">
                    <h6 class="nav-title"><a href="#">World</a></h6>
                    <ul>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 section-nav">
                    <h6 class="nav-title"><a href="#">World</a></h6>
                    <ul>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 section-nav">
                    <h6 class="nav-title"><a href="#">World</a></h6>
                    <ul>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 section-nav">
                    <h6 class="nav-title"><a href="#">World</a></h6>
                    <ul>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 section-nav">
                    <h6 class="nav-title"><a href="#">World</a></h6>
                    <ul>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                        <li class="nav-item sp-line-1"><a href="">Fox News Investigates</a></li>
                    </ul>
                </div>

            </div>
            <div class="directional row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="copyright">
                                <div class="row ne">
                                    <div class="branding">
                                        <img src="./images/logo.png" alt="">
                                    </div>
                                    <div class="legal">

                                        <ul>
                                            <li><a href="//www.foxnews.com/terms-of-use">Terms of Use</a></li>
                                            <li><a href="//www.foxnews.com/privacy-policy">Updated Privacy Policy</a></li>
                                            <li><a href="//www.foxnews.com/closed-captioning">Closed Captioning Policy</a></li>
                                            <li><a href="//help.foxnews.com">Help</a></li>
                                            <li><a href="//www.foxnews.com/contact">Contact Us</a></li>
                                        </ul>
                                        <div class="copyright">
                                            <span>© Copyright 2019. All rights reserved.</span>
                                            <span>flexnews.com</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="social-icons">
                                <ul>
                                    <li class="fb"><a href="//www.facebook.com/FoxNews">Facebook</a></li>
                                    <li class="tw"><a href="//twitter.com/foxnews">Twitter</a></li>
                                    <li class="ig"><a href="//www.instagram.com/foxnews">Instagram</a></li>
                                    <li class="email"><a href="//www.foxnews.com/newsletters">Email</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fb-root"></div>
        <div class="back-to-top">
        <i class="fa fa-angle-double-up"></i></div>
    </div>
</template>