.login-social-icons ul {
	padding-inline-end: 40px;
	display: flex;
	justify-content: space-between;
}

.login-social-icons li {
	line-height: 19px;
    border-radius: 5px;
    color: #fff;
    position: relative;
    width: 48%;
    padding: 3px 12px;

}

.login-social-icons li a{
	display: inline-block;
    color: #fff;
    width: 100%;
    padding: 5px 9px;
}

.login-social-icons li img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.login-gp {
	background-color: #e63333;
}

.login-fb {
	background-color: #3b5998;
}

.login-screen #formContent {
    border-radius: 5px;
    background: #fff;
    padding: 30px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}
.login-screen .nav-item {
    width: 50%;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #f5f8fa;
    border-color: #dee2e6 #dee2e6 #f5f8fa;
}

.login-screen .tab-login {
    border-radius: 5px 0 0 0;
}
.login-screen .tab-login, .login-screen .tab-reg {
    text-align: center;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    color: #666;
    padding: 0.75rem;
    width: 100%;
}
.tab-content {
    background: #fff;
    padding: 15px;
}
.login-screen input.input-text {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
}
.login-screen input[type=button], .login-screen input[type=submit], .login-screen input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    width: 85%;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.login-screen #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
.recipe-ratings {
	display: flex;
	justify-content: space-between;
}
.st-label {
	display: none!important;
}
#st-1 {
	margin-top: 4px;
}
#st-1.st-has-labels .st-btn {
	min-width: 40px!important;
}
.editor{
	overflow: hidden;
}
.editor img{
	max-width: 100%;
	height: auto;
}
.ag-format-container {
	width: 1142px;
	margin: 0 auto;
}

.js-ag-hide {
	display: none;
}

.ag-page-404 {
	padding: 100px 0 0;
	background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/toaster-bg.png) no-repeat 50% 100%;
}

.ag-canvas-404_img {
	display: none;
}
.ag-canvas-404 {
	opacity: .7;
	filter: alpha(opacity=70);

	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
}

.ag-toaster-wrap {
	display: table;
	margin: 0 auto;
	padding: 200px 0 0;

	position: relative;
}
.ag-toaster {
	width: 340px;
	height: 217px;

	position: relative;
}
.ag-toaster_toast-handler {
	width: 155px;
	height: 200px;
	margin-left: 85px;
	padding-top: 60px;

	overflow: hidden;

	z-index: 1;
	position: absolute;
	top: -150px;
}
.ag-toaster_shadow {
	width: 165px;
	height: 9px;
	background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/sprite-toaster.png) -340px -195px no-repeat;

	position: absolute;
	left: 0;
	bottom: 91px;
}
.ag-toaster_toast {
	width: 159px;
	height: 171px;
	background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/sprite-toaster.png) -340px 0 no-repeat;

	z-index: -1;
	position: relative;
}
.ag-toaster_front {
	width: 340px;
	height: 217px;
	background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/sprite-toaster.png) 0 -18px no-repeat;

	z-index: 2;
	position: relative;
}
.ag-toaster_lever {
	width: 22px;
	height: 21px;
	background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/sprite-toaster.png) -340px -171px no-repeat;

	position: absolute;
	top: 75px;
	right: 12px;
}
.ag-toaster_back {
	width: 340px;
	height: 18px;
	background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/sprite-toaster.png) no-repeat;

	z-index: -3;
	position: relative;
}

@-webkit-keyframes an-bounce-in-up {
	0% {
		opacity: 0;

		-webkit-transform: translateY(2000px);
		transform: translateY(2000px);
	}
	60% {
		opacity: 1;

		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	80% {
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-moz-keyframes an-bounce-in-up {
	0% {
		opacity: 0;

		-moz-transform: translateY(2000px);
		transform: translateY(2000px);
	}
	60% {
		opacity: 1;

		-moz-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	80% {
		-moz-transform: translateY(5px);
		transform: translateY(5px);
	}
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
}

@-ms-keyframes an-bounce-in-up {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);

		-ms-transform: translateY(2000px);
		transform: translateY(2000px);
	}
	60% {
		opacity: 1;
		filter: alpha(opacity=100);

		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	80% {
		-ms-transform: translateY(5px);
		transform: translateY(5px);
	}
	100% {
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

@-o-keyframes an-bounce-in-up {
	0% {
		opacity: 0;

		-o-transform: translateY(2000px);
		transform: translateY(2000px);
	}
	60% {
		opacity: 1;

		-o-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	80% {
		-o-transform: translateY(5px);
		transform: translateY(5px);
	}
	100% {
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes an-bounce-in-up {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transform: translateY(2000px);
		-moz-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		-o-transform: translateY(2000px);
		transform: translateY(2000px);
	}
	60% {
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	80% {
		-webkit-transform: translateY(5px);
		-moz-transform: translateY(5px);
		-ms-transform: translateY(5px);
		-o-transform: translateY(5px);
		transform: translateY(5px);
	}
	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

.js-ag-animated {
	-webkit-animation-duration: .6s;
	-moz-animation-duration: .6s;
	-ms-animation-duration: .6s;
	-o-animation-duration: .6s;
	animation-duration: .6s;

	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.js-ag-bounce-in-up {
	-webkit-animation-name: an-bounce-in-up;
	-moz-animation-name: an-bounce-in-up;
	-ms-animation-name: an-bounce-in-up;
	-o-animation-name: an-bounce-in-up;
	animation-name: an-bounce-in-up;
}

@media only screen and (max-width: 767px) {
	.ag-format-container {
		width: 96%;
	}

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
	.ag-format-container {
		width: 750px;
	}

}

@media (min-width: 980px) and (max-width: 1161px) {
	.ag-format-container {
		width: 960px;
	}

}

.sp-line-1,.sp-line-2,.sp-line-3,.sp-line-4{overflow:hidden;text-overflow:ellipsis;display:-webkit-box!important;-webkit-box-orient:vertical}.sp-line-1{-webkit-line-clamp:1}.sp-line-2{-webkit-line-clamp:2}.sp-line-3{-webkit-line-clamp:3}.sp-line-4{-webkit-line-clamp:4}

/* videos */

