.banner_about{
    img{
        width: 100%;
    }
}

.about_content{
    margin-top: 40px;
    .about-item{
        margin-bottom: 40px;
        &:nth-child(2n){
            @extend .flex-lg-row-reverse;
        }
        .about-item-img{
            margin: 0;
            margin-bottom: 20px;
            img{
                width: 100%;
            }
        }
        .about-item-text{
            h6{
                font-size: 24px;
                color: $theme;
                font-weight: bold;
                margin-bottom: 15px;
            }
            p{
                margin-bottom: 15px;
            }
            i{
                color: #267dcf;
            }
        }
    }
}

.banner_about{
    img{
        width: 100%;
    }  
}