.blog-page{
    margin-top: 50px;
    .blog-main-item{
        margin-bottom: 40px;
    }
    .b-item{
        .b-img{
            display: inline-block;
            position: relative;
            width: 100%;
            padding-bottom: 70%;
            margin-bottom: 30px;
            img{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .b-name{
            font-size: 18px;
            font-weight: 700;
            color: #333333;
            line-height: 23px;
            margin-bottom: 15px;
            display: inline-block;
            width: 100%;
            &:hover{
                color: $theme;
            }
        }
        .b-dec{
            font-size: 14px;
            line-height: 25px;
        }
        .b-author{
            b{
                font-size: 14px;
                font-weight: 400;
            }
            a{
                margin-right: 8px;
                &:hover{
                    color: $theme;
                }
            }
            .b-comment{
                margin-left: 8px;
                background-image: url('../images/ic_comment.png');
                background-repeat: no-repeat;
                padding-left: 20px;
            }
        }
        .b-date{
            background-image: url('../images/ic_calender.png');
            background-repeat: no-repeat;
            padding-left: 30px;
            margin-right: 10px;
        }
        .b-cat{
            background-image: url('../images/ic_folder.png');
            background-repeat: no-repeat;
            padding-left: 30px;
            margin-right: 10px;
        }
        .view-detail{
            margin-top: 25px;
            display: block;
            color: rgba(40, 127, 217, 255);
            text-transform: uppercase;
            &:hover{
                color: $theme;
            }
        }
        .video-embed{
            display: inline-block;
            position: relative;
            width: 100%;
            padding-bottom: 70%;
            margin-bottom: 30px;
            iframe{
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
            }
        }
    }
}

.banner_blog{
    padding-top: 20px;
    position: relative;
    figure{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        padding: 0;
        margin: 0;
        &::before{
            content: '';
            position: absolute;
            z-index: 1;
            width: 40%;
            left: -1px;
            top: 0;
            bottom: 0;
            background-image: linear-gradient(to right, #fff , transparent);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .banner_blog-text{
        padding-top: 250px;
        padding-bottom: 195px;
        font-weight: 700;
        color: #031e49;
        background: -webkit-linear-gradient(#44a9e1, #0e09b9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: -2px;
        h2{
            font-size: 57px;
            font-weight: bold;
        }
        p{
            font-size: 36px;
        }
    }
}

@media(max-width: 1199px){
    .banner_blog .banner_blog-text h2{
        font-size: 47px;
    }
    .banner_blog .banner_blog-text p{
        font-size: 26px;
    }
    .banner_blog .banner_blog-text{
        padding-top: 90px;
        padding-bottom: 75px;
    }
}
@media(max-width: 991px){
    .banner_blog .banner_blog-text h2{
        font-size: 34px;
    }
    .banner_blog .banner_blog-text p{
        font-size: 16px;
    }
    .banner_blog .banner_blog-text{
        padding-top: 45px;
        padding-bottom: 35px;
    }
}
@media(max-width: 767px){
    .banner_blog figure{
        left: 0%;
        z-index: -1;
    }
    .banner_blog figure::before{
        width: 100%;
    }
}