.article-header {
    color: #222;
    text-align: center;
    padding-top: 24px;
    margin-bottom: 24px;
    .article-meta {
        &.article-meta-lower {
            @extend .d-flex;
            flex-direction: column;
            @media screen and (min-width: 768px) {
                font-size: 14px;
                padding: 0 32px;
            }
        }
        text-align: center;
        font-size: 12px;
        margin: 0 16px;
        @extend .d-flex;
        justify-content: center;
        .author-byline {
            display: block;
            margin-right: 0;
            margin-bottom: 16px;
            margin-top: 10px;
            span {
                line-height: 24px;
            }
            a {
                font-weight: 600;
            }
            @media screen and (max-width: 768px)
            {   
                margin-bottom: 10px;
            }
        }
        .eyebrow {
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            color: #4b78a7;
            display: inline-block;
            margin-right: 6px;
            margin-bottom: 6px;
            a {
                color: inherit;
            }
        }
    }

    .headline {
        font-size: 48px;
        line-height: 56px;
        padding-left: 48px;
        padding-right: 48px;
        font-weight: 900;
        letter-spacing: -1.2px;
        padding: 0 16px;
        margin-bottom: 6px;
        @media screen and (max-width: 768px) {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 10px;
        }  
    }
        .article-date {
            display: inline-block;
            margin-bottom: 6px;
        }
        .article-date, .article-meta .article-updated {
            padding-left: 14px;
            position: relative;
            &:before {
                position: absolute;
                left: 0;
                top: -5px;
                content: "\00b7";
                font-size: 20px;
                color: #a0a0a0;
            }
        }
    
    .article-social {
        .social-icons {
            ul {
                justify-content: center;
            }
            li {
                margin-left: 8px;
                &.fb {
                    a {
                        background-color: #3b5998;
                        &:after {
                            background-image: url(../images/facebook.svg);
                            background-position: 0 0;
                            background-size: 100% 100%;
                            background-repeat: no-repeat;
                            height: 16px;
                            width: 7px;
                            left: 11px;    
                        }
                    }
                }
                &.tw {
                    a {
                        background-color: #1da1f2;
                        &:after {
                            background-image: url(../images/twitter.svg);
                            background-position: 0 0;
                            background-size: 100% 100%;
                            background-repeat: no-repeat;
                            height: 13px;
                            width: 16px;
                            top: 9px;
                        }
                    }
                }
                &.print {
                    a {
                        background-color: #1da1f2;
                        &:after {
                            background-image: url(../images/print.svg);
                            background-position: 0 0;
                            background-size: 100% 100%;
                            background-repeat: no-repeat;
                            left: 6px;
                            height: 16px;
                            width: 18px;
                        }
                    }
                }
                &.email {
                    a {
                        &:after {
                            background-image: url('../images/email.svg');
                            background-position: 0 0;
                            background-size: 100% 100%;
                            background-repeat: no-repeat;
                            height: 10px;
                            width: 15px;
                            top: 10px;
                        }
                    }
                }
                &.ig {
                    a {
                        background: radial-gradient(circle farthest-corner at 35% 90%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 0 140%,#fec564,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),-webkit-gradient(linear,left top,left bottom,from(#6559ca),color-stop(30%,#bc318f),color-stop(50%,#e33f5f),color-stop(70%,#f77638),to(#fec66d));
                        &:after {
                            background-image: url('../images/instagram.svg');
                            background-position: 0 0;
                            background-size: 100% 100%;
                            background-repeat: no-repeat;
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
                &.gp {
                    a {
                        background-color: #dd4b39;
                        &:after {
                            background-image: url('../images/google-plus.svg');
                            background-position: 0 0;
                            background-size: 100% 100%;
                            background-repeat: no-repeat;
                            height: 16px;
                            width: 16px;
                    
                        }
                    }
                }
            }
            a {
                background-color: #5787b8;
            }
        }
    }
}

.info {
    .content {
        ul {
            li {
                list-style: unset;
            }
        }
    }
}

.collection-list {
    .list-article-plist {
        display: flex;
        flex-wrap: wrap;
        .article {
            
            &:last-child {
                margin-right: 0;
            }
            @media screen and (min-width: 768px)
            {   
                flex-basis: 0;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
                margin-right: 12px;
            }
            border-bottom: 0;
            .m {
                max-width: unset;
            }
        }
        
    }
    &.collection-article-list {
        .heading {
            .title {
                font-size: 18px;
            }
        }
    }
}

.footer-detail {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    $stars: 5;
    $star-size: 22px;
    $star-spacing: 2px;
    $star-on-color: #F9DF4A;
    $star-off-color: #CCCCCC;
    p {
        margin-bottom: 0;
    }
    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        label {
            position: relative;
            width: $star-size;
            height: $star-size;
            cursor: pointer;
            
            &:not(:first-of-type) {
                padding-right: $star-spacing;
            }
            
            &:before {
                content: "\2605";
                font-size: $star-size + 2px;
                color: $star-off-color;
                line-height: 1;
            }
        }
        
        input {
            display: none;
        }
        
        input:checked ~ label:before,
        &:not(:checked) > label:hover:before,
        &:not(:checked) > label:hover ~ label:before {
            color: $star-on-color;
        }
    }

    .post-tags {
        margin-top: 10px;
        .pt-title {
            margin-right: 10px;
            font-weight: 700;
        }
        a {
            margin-right: 5px;
            margin-bottom: 5px;
            line-height: 23px;
            background: #f8f8f8;
            padding: 0 10px;
            display: inline-block;
            color: #83868a;
            font-size: 12px;
            border: 1px solid #e5e5e5;
        }
    }
}
  