.book-sevice-page ~ footer{
    display: none;
}

.book-sevice-page{
    background-image: url('../images/banner_datlich.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 86px;
    padding-bottom: 190px;
    .book-sevice-main{
        box-shadow: 0 0 30px 0 rgba($color: #000000, $alpha: .33);
        .book-sevice-head{
            background-image: url('../images/bg_datlich.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            padding-top: 35px;
            img{
                max-width: 100%;
            }
            h2{
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 255);
                margin-top: 30px;
                padding-bottom: 34px;
            }
        }
        .book-sevice-form{
            padding: 70px 10px 50px;
            background: #fff;
            form{
                margin: auto;
                max-width: 460px;
                label{
                    font-size: 16px;
                    color: rgba(51, 51, 51, 255);
                    display: block;
                    padding: 0 15px 10px;
                    margin-bottom: 0;
                    font-weight: 600;
                }
                input, select{
                    height: 55px;
                    border-radius: 55px;
                    display: block;
                    width: 100%;
                    border: 1px solid #e28086;
                    padding: 0 15px;
                    margin-bottom: 20px;
                    outline: none;
                    transition: 0.3s all;
                    &:focus{
                        border: 1px solid $theme;
                        transition: 0.3s all;
                    }
                }
                .btn-theme{
                    border: none;
                    width: 100%;
                    margin-top: 35px;
                    i{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media(max-width: 767px){
    .book-sevice-page{
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .book-sevice-page .book-sevice-main .book-sevice-head h2{
        font-size: 26px;
    }
    .book-sevice-page .book-sevice-main .book-sevice-form{
        padding: 30px 10px 30px;
    }
    .book-sevice-page .book-sevice-main .book-sevice-form form label{
        font-size: 14px;
    }
    .book-sevice-page .book-sevice-main .book-sevice-form form input, .book-sevice-page .book-sevice-main .book-sevice-form form select{
        height: 44px;
    }
}