.custommer_about{
    padding-top: 50px;
    figure{
        margin: 0;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 20px;
        img{
            max-width: 100%;
        }
    }
    .custommer_about-text{
        h5{
            font-weight: bold;
            color: $theme;
            font-style: 24px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        p{
            font-style: 16px;
            color: #333333;
            line-height: 25px;
            &::before{
                content: "\f00c";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                margin-right: 8px;
                color: #267dcf;
            }
        }
    }
}

.box-sevice{
    margin-top: 70px;
    margin-bottom: 70px;
    .box-sevice-title{
        font-weight: bold;
        color: $theme;
        font-style: 24px;
        text-transform: uppercase;
        margin-bottom: 40px;
        text-align: center;
    }
    .box-sevice-item{
        padding-bottom: 50px;
        box-shadow: 0 0 20px 0 rgba($color: #ba2256, $alpha: 0.15);
        border-radius: 8px;
        overflow: hidden;
        height: 100%;
        figure{
            margin: 0;
            margin-bottom: 40px;
            img{
                width: 100%;
            }
        }
        h5{
            font-size: 18px;
            font-weight: bold;
            color: $theme;
            text-align: center;
            padding: 0px 52px 0px;
            height: 42px;
            position: relative;
            margin-bottom: 50px;
            @extend .d-flex, .align-items-center;
            &::before{
                content: '';
                border-bottom: 2px solid $theme;
                width: 100px;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        p{
            padding: 0px 52px 0px;
            font-size: 16px;
            position: relative;
            &::before{
                content: "\f00c";
                display: inline-block;
                font: normal normal normal 10px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                margin-right: 8px;
                color: #fff;
                background: linear-gradient(#e63760, #96124f);
                position: absolute;
                top: 0;
                text-align: center;
                font-size: 12px;
                box-shadow: 0 0 5px 0 #333;
                border-radius: 100px;
                left: 20px;
                z-index: 1;
                width: 20px;
                line-height: 20px;
            }
        }
        a{
            @extend .btn-theme;
            max-width: 200px;
            display: block;
            margin: 50px auto 0;
            font-size: 18px;
            padding-top: 8px;
            padding-bottom: 8px;
            i{
                font-size: 14px;
            }
        }
    }
}
.layer_custommer{
    background-image: url('../images/bg_custommer.jpg');
    background-size: cover;
    background-position: center bottom;
    padding-top: 75px;
    padding-bottom: 130px;
    h4{
        max-width: 605px;
        margin: 0 auto 35px;
        text-align: center;
        font-weight: 600;
        font-size: 33px;
        color: rgba(255, 255, 255, 255);
        line-height: 50px;
        text-transform: uppercase;
    }
    .layer_custommer-list{
        .layer_custommer-item{
            box-shadow: 0 0 20px 0 rgba($color: #ba2256, $alpha: 0.15);
            background-color: #fff;
            border-radius: 8px;
            overflow: hidden;
            padding-bottom: 30px;
            height: 100%;
            img{
                max-width: 100%;
                margin-bottom: 30px;
            }
            h5{
                padding: 0 20px;
                text-align: center;
                margin-bottom: 30px;
                font-size: 22px;
                font-weight: 600;
                color: rgba(202, 52, 88, 255);
            }
            p{
                padding: 0 20px;
                @extend .d-flex, .align-items-start;
                &::before{
                    content: "\f00c";
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    margin-right: 12px;
                    color: #fff;
                    background-color: $theme;
                    border-radius: 30px;
                    padding: 3px 3px;
                }
            }
        }
    }
}
.custommer_slider{
    padding-top: 57px;
    h6{
        text-align: center;
        font-size: 33px;
        color: $theme;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .custommer_item{
        a{
            display: inline-block;
            width: 100%;
            padding-bottom: 100%;
            position: relative;
        }
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }
}