.slider_home{
    .owl-dots{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        .owl-dot span{
            width: 20px;
            height: 20px;
            background: #dfddd7;
        }
        @media (max-width: 767px) {
            bottom: 0px;
            .owl-dot span{
                width: 13px;
                height: 13px;
            }
        }
        .owl-dot.active span, .owl-dot:hover span{
            background: #c5010d;
        }
    }
    .book_sevice{
        background: #F2FACA;
        padding: 35px 0;
        .book_sevice-title{
            font: Bold 24px/29px Montserrat;
            margin-bottom: 0;
        }
        .btn_book{
            margin-left: auto;
            background: #D6000F;
            font: Bold 16px/19px Montserrat;
            color: #fff;
            border-radius: 3px;
            padding: 15px 45px;
        }
    }
}

.home-slider-item img {
    display:none;
}

.banner_content{
    margin-top: 45px;
}

.gallery-slider{
    margin-top: 150px;
    h2{
        font-size: 32px;
        font-weight: bold;
        color: #cb0c1b;
        margin-bottom: 90px;
        text-transform: uppercase;
    }
    h4{
        font-size: 32px;
        font-weight: bold;
        color: #cb0c1b;
        margin-bottom: 90px;
        text-transform: uppercase;
    }
    .gallery-slider-bg{
        background-image: url('../images/Image-9_02.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;
        .gallery-slider-text{
            h5{
                font-size: 24px;
                font-weight: 600;
                color: #FFFFFF;
                margin-top: 50px;
                margin-bottom: 30px;
            }
            h3{
                font-size: 24px;
                font-weight: 600;
                color: #FFFFFF;
                margin-top: 50px;
                margin-bottom: 30px;
            }
            p{
                color: #FFFFFF;
                font-size: 16px;
                margin-bottom: 60px;
            }
            a{
                line-height: 50px;
                display: inline-block;
                padding: 0 50px;
                font-size: 16px;
                font-weight: 700;
                color: #333333;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border-radius: 3px;
                &:hover{
                    box-shadow: inset 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

.slider_sync{
    margin-top: -125px;
    padding-bottom: 125px;
    .sync1{
        margin-bottom: 20px;
    }
    .small-item{
        opacity: 0.5;
        width: 100%;
        display: inline-block;
        position: relative;
        padding-bottom: 100%;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .current .small-item{
        opacity: 1;
    }
}

.home_feedback{
    background-image: url('../images/DSC00377@2x.png');
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 50px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background-color: #00000070;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
    }
    h4{
        font-size: 32px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 80px;
        text-align: center;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
    }
    h2{
        font-size: 32px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 80px;
        text-align: center;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
    }
    .home_feedback-slider{
        text-align: center;
        color: #fff;
        img{
            width: auto;
            margin: 0 auto;
            border-radius: 100%;
            width: 170px;
            height: 170px;
            margin-bottom: 30px;
        }
        h6{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 0;
        }
        span{
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 35px;
            display: block;
        }
        p{
            max-width: 600px;
            font-size: 16px;
            margin: 0 auto 100px;
            font-weight: 300;
        }
    }
    .owl-theme .owl-dots .owl-dot span{
        width: 13px;
        height: 13px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 0.3;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
    }
}


.blog_home{
    margin-top: 84px;
    padding-bottom: 60px;
    h3{
        font-size: 32px;
        font-weight: bold;
        color: #cb0c1b;
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
    }
    h2{
        font-size: 32px;
        font-weight: bold;
        color: #cb0c1b;
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
    }
    .blog-list{
        .blog-item{
            .b-img{
                display: inline-block;
                position: relative;
                padding-bottom: 70%;
                width: 100%;
                margin-bottom: 24px;
                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    object-fit: cover;
                }
            }
            .b-name{
                font-size: 16px;
                font-weight: 600;
                color: #333333;
                max-height: 100px;
                overflow: hidden;
                display: block;
                &:hover{
                    color: $theme;
                }
            }
            time{
                margin-top: 10px;
                font-weight: 600;
                font-size: 14px;
                color: #6E6E6E;
                display: block;
            }
        }
    }
}

.wf_video{
    margin-top: 70px;
    padding-bottom: 60px;
    h3{
        font-size: 32px;
        font-weight: bold;
        color: #cb0c1b;
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
    }
    h2{
        font-size: 32px;
        font-weight: bold;
        color: #cb0c1b;
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
    }
    .wf_video-item{
        a{
            display: inline-block;
            width: 100%;
        }
        figure{
            position: relative;
            width: 100%;
            padding-bottom: 65%;
            margin: 0;
            &::before{
                content: '';
                background-image: url('../images/ic_play.png');
                background-repeat: no-repeat;
                background-position: center;
                background-color: rgba($color: #000000, $alpha: 0);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
                z-index: 1;
                transition: 0.3s all;
            }
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: cover;
            }
        }
        a:hover{
            figure{
                &::before{
                    background-color: rgba($color: #000000, $alpha: 0.4);
                    transition: 0.3s all;
                }
            }
        }
    }
}

@media(max-width: 991px){
    .slider_sync{
        margin-top: 20px;
        padding-bottom: 45px;
    }
}

@media(max-width: 767px){
    .slider_home .book_sevice{
        padding: 20px 0;
    }
    .slider_home .book_sevice .book_sevice-title{
        text-align: center;
        font-size: 18px;
    }
    .slider_home .book_sevice .btn_book{
        margin: 10px auto;
        font-size: 14px;
    }

    .banner_content{
        margin-top: 15px;
    }

    .sevice-wf{
        margin-top: 30px;
        h3{
            font-size: 22px;
            margin-bottom: 25px;
        }
        h2{
            font-size: 22px;
            margin-bottom: 25px;
        }
        .sevice-wf-item{
            padding: 30px 10px 15px;
            margin-bottom: 10px;
            a, h4, h3{
                font-size: 18px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    .his_about{
        margin-top: 30px;
        h3{
            font-size: 22px;
            margin-bottom: 25px;
        }
        h2{
            font-size: 22px;
            margin-bottom: 25px;
        }
    } 
    .gallery-slider{
        margin-top: 30px;
        h4{
            font-size: 22px;
            margin-bottom: 25px;
            text-transform: uppercase;
        }
        h2{
            font-size: 22px;
            margin-bottom: 25px;
            text-transform: uppercase;
        }
        .gallery-slider-bg .gallery-slider-text h5{
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        .gallery-slider-bg .gallery-slider-text h3{
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        .gallery-slider-bg .gallery-slider-text p{
            margin-bottom: 20px;
        }
    }
    .home_feedback{
        padding-bottom: 30px;
        padding-top: 40px;
        h4{
            margin-bottom: 40px;
            font-size: 22px;
        }
        h2{
            margin-bottom: 40px;
            font-size: 22px;
        }
        .home_feedback-slider p{
            margin-bottom: 30px;
        }
    }
    .blog_home{
        margin-top: 44px;
        padding-bottom: 30px;
        h3{
            font-size: 22px;
            margin-bottom: 35px;
        }
        h2{
            font-size: 22px;
            margin-bottom: 35px;
        }
        .blog-list{
            .blog-item{
                margin-bottom: 30px;
                .b-img{
                    margin-bottom: 15px;
                }
                .b-name{
                    font-size: 14px;
                    max-height: 87px;
                }
            }
        }
    }
    .wf_video {
        margin-top: 40px;
        padding-bottom: 30px;
        h3{
            font-size: 22px;
            margin-bottom: 35px;
        }
        h2{
            font-size: 22px;
            margin-bottom: 35px;
        }
        .wf_video-item{
            margin-bottom: 20px;
        }
    }
}