section {
   background-color: #fff;
   border: 1px solid #cedfef;
   padding: 16px;
   padding-bottom: 10px;
   @media screen and (max-width: 480px) {
      border: none;
      padding: 16px 0;
   }

   .heading {
      margin-bottom: 8px;
      .title {
         color: #222;
         font-size: 18px;
         line-height: 24px;
         font-weight: 600;
      }
   }
   .list-article {
      @media screen and (max-width: 480px) {
         margin-top: 16px;
      }
      
      article {
         margin-bottom: 12px;
         &:last-child {
            margin-bottom: 0!important;
            border-bottom: 0!important;
         }
         .m {
            max-width: 132px;
            min-width: 132px;
            margin-right: 10px;
            position: relative;
            a {
               position: relative;
               padding-bottom: 60%;
               display: inline-block;
               width: 100%;
               img {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
               }
            }
         }
         .info {
            .header-info {
               .meta {
                  line-height: 14px;
                  margin-bottom: 0;
                  .eyebrow {
                     text-transform: uppercase;
                     font-size: 11px;
                     line-height: 14px;
                     font-weight: 600;
                     a {
                        color: #c20017;
                     }
                  }
               }
               .title {
                  font-size: 13px;
                  line-height: 16px;
               }
            }
         }
      }
   }
}

.sticky-region {
   background-color: #fff;
   border: 1px solid #cedfef;
   padding: 16px;
   padding-bottom: 0;
   height: 100%;
   @media screen and (max-width: 480px) {
      border: 0;
   }
   .main {
      .collection {
         &:first-child {
            margin: -16px -16px 12px -16px;
            .info {
               padding: 16px;
            }
         }
         &:last-child {
            margin-bottom: 0;

         }

         margin-bottom: 16px;
         .story-1 {
            .m {
               width: 100%;
               margin-right: 10px;
               a {
                  position: relative;
                  padding-bottom: 60%;
                  display: inline-block;
                  width: 100%;
                  img {
                     position: absolute;
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                  }
               }
            }
            .info {
               .info-header {
                  .title {
                     font-size: 30px;
                     line-height: 36px;
                     @media screen and (max-width: 480px) {
                        font-size: 24px;
                        line-height: 28px;
                        margin-bottom: 8px;
                     }
                  }
               }
               .content {
                  .related {
                     ul {
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 0;
                        li {
                           flex: 0 0 50%;
                           max-width: 50%;
                           line-height: 18px;
                           padding: 0 12px;
                           margin-bottom: 12px;
                           border-left: 1px solid #cedfef;
                           font-size: 13px;
                           a {
                              &:hover {
                                 text-decoration: underline;
                                 -webkit-text-decoration-color: #a7c6e5;
                                 text-decoration-color: #a7c6e5;
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      }
      .collection-spotlight {
         .article {
            .title {
               font-size: 18px!important;
               line-height: 24px!important;
            }
         }
      }
      .collection-article-list {
         .list-article {
            .article {
               &:last-child {
                  margin-bottom: 0!important;
                  border-bottom: 0!important;
               }
               padding-bottom: 10px;
               .title {
                  font-size: 18px;
                  line-height: 24px;
                  margin-bottom: 4px;
               }
               .meta {
                  .eyebrow {
                     display: inline-block;
                     color: #4b78a7;
                     font-size: 11px;
                     font-weight: 700;
                     line-height: 18px;
                     text-transform: uppercase;
                     margin-right: 6px;
                     a {
                        color: unset;
                     }
                  }
               }
            }
         }
      }
   }
}

.article {
   .eyebrow {
      display: inline-block;
      color: #4b78a7;
      font-size: 11px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      margin-right: 6px;
      a {
         color: inherit;
      }
   }
   .lastest {
      position: relative;
      .m {
         a {
            &:after {
               content: "";
               display: block;
               position: absolute;
               background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(black));
               background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,#000 100%);
               bottom: 0;
               height: 70%;
               width: 100%;
            }
         }
      }
      .meta {
         @media screen and (min-width: 1440px){
            padding: 0 30px 10px 30px;
         }
         .eyebrow {
            text-transform: uppercase;
            @media screen and (max-width: 480px) {
               padding: 8px 16px;
            }
            @media (min-width: 768px) {
               padding: 8px 16px;
            }
            a {
               color: #fff;
            }
         }
      }
      .title {
         font-size: 30px;
         line-height: 32px;
         @media screen and (max-width: 480px) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 8px;
         }
         @media (min-width: 768px) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 8px;
         }
         a {
            text-shadow: 1px 1px 1px #000;
            display: block;
            color: #fff;
            padding: 0 16px 12px 16px;
            @media screen and (min-width: 1440px) {
               padding: 0 30px 30px 30px;
            }
         }
      }
   }
   .header-info {
      .title {
         @media screen and (min-width: 1440px) {
            font-size: 30px;
            line-height: 32px;
         }
      }
   }
}

.collection-section {
   padding-bottom: 0;
   .article {
      margin: -16px;
      margin-bottom: 0;
      height: calc(100% + 16px);
      .lastest {
         .header-info {
         }
      }
   }
   .list-article {
      @media screen and (min-width: 1440px){
         padding: 30px;
      }
      @media screen and (min-width: 1024px) {
         background-color: #fff;
         padding: 20px;
      }
      .article {
         padding-bottom: 16px;
         margin: 0 0 16px 0;
         .info {
            .header-info {
               .title {
                  @media screen and (min-width: 1440px) {
                     font-size: 18px;
                     line-height: 24px;
                  }
                  @media screen and (min-width: 1024px) {
                     font-size: 14px;
                     line-height: 18px;
                     margin-bottom: 0;
                  }
                  @media screen and (min-width: 768px) {
                     font-size: 18px;
                     line-height: 24px;
                  }
                  font-size: 14px;
                  line-height: 18px;
               }
            }
         }
      }
   }
}

.list-article {
   .article {
      border-bottom: 1px solid #cedfef;
      padding: 0 0 12px 0;
      margin: 0 0 16px 0;
   }
}

.page-content {
   .heading {
      display: flex;
      justify-content: space-between;
      .title {
         @media screen and (min-width: 1024px) {
            font-size: 24px;
         }
         @media screen and (min-width: 768px) {
            font-size: 24px;
         }
         color: #222;
         font-size: 18px;
         line-height: 24px;
         font-weight: 600;
      }
      .more {
         @media screen and (min-width: 1024px) {
            font-size: 14px;
         }
         @media screen and (min-width: 768px) {
            font-size: 14px;
         }
         font-size: 11px;
         font-weight: 700;
         line-height: 24px;
      }
   }
}

aside {
   .list-article {
      @media screen and (min-width: 768px) {
         display: flex;
         flex-wrap: wrap;
         article {
            flex: 0 0 50%;
            max-width: 50%;
         }
      }
      @media screen and (min-width: 1024px) {
         article {
            flex: 0 0 100%;
            max-width: 100%;
         }
      }
   }
}

.list-videos {
   
   .pill.duration {
      right: 0;
      bottom: 0;
      top: auto;
      left: auto;
      margin: 0;
      font-size: 11px;
      font-weight: 700;
      line-height: 10px;
      white-space: nowrap;
      overflow: hidden;
      &:before {
         display: inline-block;
         content: "";
         width: 0;
         height: 0;
         border-top: 4px solid transparent;
         border-bottom: 4px solid transparent;
         border-left: 8px solid #fff;
         margin-right: 4px;
      }

   }
   .pill {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
   }
}
.pill {
   display: inline-block;
   background-color: #c20017;
   color: #fff;
   text-transform: uppercase;
   margin-right: 4px;
   font-size: 10px;
   font-weight: 900;
   line-height: 10px;
   padding: 4px;
}

.load-more {
   margin-bottom: 16px;
   margin-top: 16px;
   a {
      border-radius: 3px;
      color: #fff;
      background-color: #1b4e81;
      display: block;
      padding: 16px;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
   }
}
