.box-cat-pro{
    .box-cat-header{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 50px;
        h3{
            font-size: 24px;
            font-weight: bold;
            color: $theme;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        a{
            font-size: 16px;
            color: #0b6fd5;
            i{
                font-size: 14px;
            }
        }
    }
}
.p-list{
    margin: 0 -10px;
    .p-item{
        padding: 0 10px;
        .p-wrap{
            margin-bottom: 10px;
            border: 1px solid #ededed;
            text-align: center;
            padding: 20px 20px 10px;
            box-shadow: 0 0 22px 0 rgba($color: #c5010d, $alpha: 0);
            transition: all 0.3s;
            height: 100%;
            .p-img{
                display: inline-block;
                position: relative;
                width: 100%;
                padding-bottom: 100%;
                margin-bottom: 15px;
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                    left: 0;
                    top: 0;
                }
            }
            .p-name{
                display: block;
                font-size: 18px;
                font-weight: bold;
                color: $theme;
                margin-bottom: 15px;
                height: 27px;
                overflow: hidden;
            }
            .p-dec{
                font-size: 16px;
                color: #333333;
                margin-bottom: 20px;
                height: 45px;
                overflow: hidden;
            }
            .p-view{
                line-height: 58px;
                border: 1px solid #ededed;
                font-size: 16px;
                font-weight: bold;
                color: rgba(51, 51, 51, 255);
                background-color: transparent;
                width: 100%;
                display: inline-block;
                i{
                    font-size: 14px;
                }
            }
        }
        &:hover{
            .p-wrap{
                box-shadow: 0 0 22px 0 rgba($color: #c5010d, $alpha: 0.15);
                transition: all 0.3s;
                .p-view{
                    background-color: $theme;
                    color: #fff;
                }
            }
        }
    }
}
.cat-info-box{
    @extend .align-items-center;
    margin-bottom: 50px;
    &:nth-child(2n){
        @extend .flex-lg-row-reverse
    }
    .cat-info-box-text{
        h4{
            color: #4a4a4a;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            max-width: 310px;
            margin-bottom: 10px;
        }
        strong{
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 22px;
        }
        a{
            line-height: 58px;
            border: 1px solid #ededed;
            font-size: 16px;
            font-weight: bold;
            color: #333333;
            background-color: transparent;
            padding: 0 35px;
            display: inline-block;
            margin-bottom: 20px;
            i{
                font-size: 14px;
            }
            &:hover{
                background-color: $theme;
                color: #fff;
            }
        }
    }
    .cat-info-box-img{
        img{
            width: 100%;
        }
    }
}

@media(max-width: 767px){
    .box-cat-pro .box-cat-header{
        margin-top: 20px;
        margin-bottom: 30px;
        h3{
            font-size: 18px;
        }
    } 
    .p-list .p-item .p-wrap{
        margin-bottom: 20px;
        padding: 10px;
        .p-name{
            font-size: 16px;
            margin-bottom: 10px;
        }
        .p-dec{
            font-size: 14px;
        }
    }
    .cat-info-box{
        margin-top: 20px;
        .cat-info-box-text{
            h4{
                font-size: 18px;
            }
            strong{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
            a{
                font-size: 14px;
                i{
                    font-size: 12px;
                }
            }
        }
        
    }
}