.product-detail-home{
    padding-top: 20px;
}
.breadcrumb{
    background: transparent;
    padding: 0;
    margin-bottom: 25px;
    ul{
        padding-left: 0;
        @extend .d-flex;
        li{
            margin-right: 4px;
            &::after{
                content: '/';
                font-size: 12px;

            }
            &:last-child{
                a{
                    color: #333333;
                }
                &::after{
                    content: '';
                    font-size: 12px;

                }
            }
            a{
                font-size: 12px;
                color: #929292;
            }
        }
    }
}

.product-image{
    .product-image-slider{
        margin-bottom: 15px;

    }
    .owl-theme .owl-dots .owl-dot span{
        background: transparent;
        border: 1px solid $theme;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
        background: $theme;
    }
    .view-zoom{
        text-align: center;
        display: block;
        font-size: 14px;
        color: rgba(102, 102, 102, 255);
        margin-bottom: 20px;
    }
    .view-other{
        @extend .d-flex, .justify-content-center, .align-items-center;
        a{
            width: 80px;
            height: 80px;
            border: 1px solid #eeddee;
            display: inline-block;
            margin: 0 5px;
            text-align: center;
            span{
                display: inline-block;
                color: #333333;
                margin-top: 5px;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: scale-down;
            }
        }
    }
}


.product-emtry{
    .product-name{
        font-size: 24px;
        font-weight: bold;
        color: rgba(51, 51, 51, 255);
        margin-bottom: 18px;
    }
    .product-price{
        font-size: 24px;
        color: $theme;
        margin-bottom: 20px;
        font-weight: bold;
        display: block;
    }
    .pro-promotion{
        font-size: 13px;
        color: rgba(51, 51, 51, 255);
        margin-bottom: 20px;
        font-style: italic;
        display: block;
    }
    .pro-emtry-info{
        padding-left: 0;
        margin-bottom: 25px;
        h5{
            font-size: 18px;
            font-weight: 500;
            color: #676767;
        }
        li{
            margin-bottom: 8px;
            &::before{
                content: "\f078";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: #267dcf;
            }
            span{
                font-size: 14px;
                color: #717171;
                letter-spacing: -0.3px;
            }
        }
    }
}
.pro-sidebar{
    .pro-sidebar-item{
        padding-left: 0;
        margin-bottom: 25px;
        h5{
            font-style: 18px;
            font-weight: 500;
            color: #676767;
        }
        p{
            font-size: 14px;
            color: #717171;
            letter-spacing: -0.3px;
            @extend .d-flex;
        }
    }
}
.head-title{
    text-align: center;
    margin-bottom: 35px;
    h4{
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        color: $theme;
    }
    a{
        font-size: 16px;
        color: #787878;
        i{
            font-size: 14px;
        }
    }
}
.pro-specifications{
    border-top: 30px solid #f6f6f6;
    padding-top: 53px;
    padding-bottom: 60px;
    .tab_specifications{
        padding-left: 0;
        li{
            @extend .d-flex;
            span{
                @extend .col-6;
                padding: 20px;
                border: 1px solid #eeddee;
                margin-left: -1px;
                margin-bottom: -1px;
            }
        }
    }
}

.pro-content, .product-viewed{
    border-top: 30px solid #f6f6f6;
    padding-top: 53px;
    padding-bottom: 60px;
}

.ic_detail{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: -4px;
    &.ic_1{
        background-image: url('../images/ico_detail_1.png');
    }
    &.ic_2{
        background-image: url('../images/ico_detail_2.png');
    }
    &.ic_3{
        background-image: url('../images/ico_detail_3.png');
    }
    &.ic_4{
        background-image: url('../images/ico_detail_4.png');
    }
    &.ic_5{
        background-image: url('../images/ico_detail_5.png');
    }
}

@media(max-width: 991px){
    .product-emtry .product-name{
        margin-top: 30px;
    }
}
@media(max-width: 767px){
    .product-emtry{
        .product-name{
            font-size: 20px;
        }
        .product-price{
            font-size: 18px;
        }
        .pro-emtry-info li{
            i{
                font-size: 10px;
            }
            span{
                font-size: 12px;
            }
        }
    } 
    .pro-specifications, .pro-content, .product-viewed{
        padding-top: 33px;
        padding-bottom: 40px;
    }
    .head-title h4{
        font-size: 20px;
    }
    .head-title a{
        font-style: 14px;
    }
}