.control_quy-trinh{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
    @extend .d-flex;
    .control_item{
        @include col-w(50%);
        padding: 30px 30px 40px;
        border-radius: 3px;
        border: 1px solid transparent;
        cursor: pointer;
        &.active{
            border: 1px solid $theme;
            box-shadow: 0 0 30px 0 rgba($color: #c5010d, $alpha: 0.15);
        }
        img{
            margin-bottom: 30px;
        }
        h6{
            font-size: 24px;
            font-weight: bold;
            color: $theme;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        p{
            font-size: 16px;
            margin-bottom: 0;
        }
    }
}

.main_quy-trinh{
    margin-bottom: 80px;
}
.quy-trinh-banner{
    background-image: url('../images/banner_bottom_quy-trinh.png');
    background-size: cover;
    background-position: center bottom;
    padding-top: 55px;
    padding-bottom: 340px;
    h5{
        color: #c5010d;
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 24px;
    }
    p{
        margin-bottom: 15px;
        i{
            color: #267dcf;
        }
    }
    .btn-gr{
        margin-top: 80px;
        a{
            display: inline-block;
            font-size: 18px;
            i{
                font-size: 14px;
            }
        }
        .btn-view{
            margin-left: 30px;
            @extend .btn-theme;
            background-color: #fff;
            color: #333333;
        }
    }
}

@media(max-width: 480px){
    .quy-trinh-banner .btn-gr .btn-view{
        margin-left: 0;
        margin-top: 20px;
    }
    .quy-trinh-banner .btn-gr a{
        margin-right: 5px;
        display: block;
        i{
            float: right;
            padding: 9px 0;
        }
    }
    .control_quy-trinh .control_item p{
        display: none;
    }
    .control_quy-trinh .control_item{
        padding: 10px;
        h6{
            margin-bottom: 0;
            display: inline-block;
            width: 100%;
            font-size: 16px;
        }
        img {
            width: 100px;
        }
    }
}