.searching {
    .search-result-box {
        input {
            &:focus{
                border-color: #ced4da;
                box-shadow: none;
            }
        }
        .nav-bordered {
            border-bottom: 2px solid rgba(152, 166, 173, 0.2) !important;
            .nav-link {
                padding: 10px 5px !important;
                margin-right: 10px;
            }
            a.active {
                border-bottom: 2px solid #6658dd !important;
            }
        }
        .nav-tabs {
            .nav-link {
                border: 1px solid transparent;
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }
        }
        .tab-content {
            padding: 30px 30px 10px 30px;
            box-shadow: none;
            -moz-box-shadow: none;
            .active {
                display: block;
            }
        }
        .search-item {
            padding-bottom: 20px;
            border-bottom: 1px solid #f1f5f7;
            margin-bottom: 20px;
            h4 {
                font-size: 1.125rem;
            }
            a {
                color: #6658dd;
            }
        }
    }
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    .page-item {
        &.active {
            .page-link {
                z-index: 1;
                color: #fff;
                background-color: #6658dd;
                border-color: #6658dd;
            }
        }
    }
    .page-link {
        border-radius: 30px !important;
        margin: 0 3px;
        border: none;
        &:hover {
            z-index: 2;
            color: #323a46;
            text-decoration: none;
            background-color: #e9ecef;
            border-color: #dee2e6;
        }
    }
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #323a46;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination-rounded {
    .page-link {
        border-radius: 30px !important;
        margin: 0 3px;
        border: none;
    }
}